
@{
    ViewBag.Title = "View Pages";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
<script src="~/Areas/Admin/JS/Loadpages.js"></script>
    }
<h2>View Pages</h2>

<div id="LoadPages"></div>