
@{
    ViewBag.Title = "View Service Box";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
<script src="~/Areas/Admin/JS/ServiceBox/viewServiceBox.js"></script>
    }
<div class="row">
    <div class="col-md-12">
        <h2>Service Boxes</h2>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12" id="divLoadServiceBoxes"></div>
</div>

