@using BurialPlots.DAL
@{
    ViewBag.Title = "Press and News";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<style>
    .shortTexts {
        width: 450px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
@section Scripts{
    <script src="~/js/NewsArtical/NewsArticals.js"></script>

    @*<script>
            jQuery(document).ready(function ($) {
                size_li = $("#myList li").size();
                x = 1;
                $('#myList li:lt(' + x + ')').show();
                $('#loadMore').click(function () {
                    x = (x + 1 <= size_li) ? x + 1 : size_li;
                    $('#myList li:lt(' + x + ')').slideDown();
                    $('#showLess').show();
                    if (x == size_li) {
                        $('#loadMore').hide();
                    }
                });
                $('#showLess').click(function () {
                    x = (x - 1 < 0) ? 1 : x - 1;
                    $('#myList li').not(':lt(' + x + ')').slideUp();
                    $('#loadMore').show();
                    $('#showLess').show();
                    if (x == 1) {
                        $('#showLess').hide();
                    }
                });
            });
        </script>*@
}

<body id="top" class="home">
    <div id="page" class="site">
        <div class="site-inner">
            <header id="masthead" class="site-header" role="banner">
                <div class="site-header-main">
                    <div class="banner" style="background-image: url('/images/banner-1.jpg');">
                        <div class="caption-inner">
                            <div class="container">
                                <h2>@BurialPlots.Resources.HomeTexts.PressAndNews</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>
</body>
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <div class="section">
                <div class="container">
                    <h2 class="underline">@BurialPlots.Resources.HomeTexts.BurialPlotsPressAndNews</h2>
                    <div class="padding-left">
                        <p>@BurialPlots.Resources.HomeTexts.Belowyouwillllfind </p>
                    </div>
                    <br />

                    <div id="LoadBlogList">

                    </div>
                    <div id="LoadMoreBlog">

                    </div>
                    <div class="col-md-4 col-md-offset-5">
                        <button onclick="ShowMoreBlog()" id="ShowMore" style="color:#778295;background-color:white; font-size:22px;font-weight:bold;">Load More</button>
                    </div>
                    <br />
                    <div class="col-md-4 col-md-offset-5">
                        <button onclick="LoadLessBlog()" id="ShowLess" style="color:#778295;background-color:white; font-size:22px;font-weight:bold;">Show less</button>
                    </div>
                    @*<div id="loadMore" class="load-less-btn" onclick="LoadBlogList()" ></div>
                        <div id="showLess" class="load-less-btn">Show less</div>*@


                </div>
            </div><!-- section -->
        </main>
        <!-- .site-main -->
    </div>
    <!-- .content-area -->
</div>
<input type="hidden" id="hIdLoadMoreBlog" value="@Url.Action("LoadBlog","NewsArticals")" />
