@model IEnumerable<BurialPlots.DAL.Cemetery>

@{
    ViewBag.Title = "DrawSection";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Cemeteries</h2>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("ShowCemeterySection", "Cemeteries", new { id=item.Id })">@item.Name</a>
        </div>
    </div>
}