
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
<script src="~/Areas/Admin/JS/Plot/index.js"></script>
    }
<div class="row">
    <div class="col-md-12">
        <h2>Plots Members</h2>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12" id="divLoadPlotListing">

    </div>
</div>



<input type="hidden" id="hidLoadPlotListingUrl" value="@Url.Action("LoadPlotListing", "Cemeteries")" />
<input type="hidden" id="hidDeletePlotUrl" value="@Url.Action("DeletePlotListing", "Cemeteries")" />
