@model BurialPlots.DAL.Cemetery
@{
    ViewBag.Title = "ShowCemeterySection";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
<script src="~/jsMap/image-map-pro.min.js"></script>
<script src="~/Areas/Admin/JS/Plot/drawSection.js"></script>
}
<h2>Add Cemetery Section</h2>
<div class="row">
    <div class="col-md-12" id="image-map-pro-container">
        
    </div>
</div>
<input type="hidden" id="hidId" value="@Model.Id" />
<input type="hidden" id="hidLoadCemeteryUrl" value="@Url.Action("LoadCemetery", "Cemeteries")" />
<input type="hidden" id="hidReturnLink" value="@Url.Action("AddSection", "Cemeteries")" />
<input type="hidden" id="hidCheckSectionMappingUrl" value="@Url.Action("CheckSectionMapping", "Cemeteries")" />