
@{
    ViewBag.Title = "View Cemeteries";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
<script src="~/Areas/Admin/JS/Cemetery/viewCemetery.js"></script>
    }
<div class="row">
    <div class="col-md-12">
        <h3>Cemeteries</h3>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <a href="@Url.Action("AddCemetery", "Cemeteries")" class="btn btn-primary">Add New Cemetery</a>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("ExportExcel_Report","Cemeteries")" title="Export to Excel" class="pull-right"><i class="fa fa-file-excel-o" style="font-size:25px"></i></a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12" id="divLoadCemeteriesPartial"></div>
</div>

<input type="hidden" id="hidLoadCemeteryUrl" value="@Url.Action("LoadCemeteriesPartial", "Cemeteries")" />
<input type="hidden" id="hidDeleteCemeteryUrl" value="@Url.Action("DeleteCemetery", "Cemeteries")" />