@model BurialPlots.DAL.BlogCategory

@{
    ViewBag.Title = "Blog Category";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    
<script src="~/Areas/Admin/JS/BlogCategory/BlogCategory.js"></script>
}
<div class="row">
    <div class="col-md-12">
        <h2>Blog Category</h2>
    </div>
</div>
<br />

<div class="row">
        <div class="col-md-3">
            <label>Enter Blog Category:</label>
        </div>
        <div class="col-md-7">
            <input type="text" id="txtName" class="form-control" />
        </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="row text-center">
            <input type="button" value="Save" onclick="saveBlogCategory()" class="btn btn-success" />
            <input type="button" value="Reset" onclick="resetAllFields()" class="btn btn-default" />
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12" id="divLoadBlogCategories">

    </div>
</div>
<input type="hidden" id="hidLoadFuneralServices" value="@Url.Action("LoadBlogCategory", "Blog")" />
<input type="hidden" id="hidSaveBlogCategoryUrl" value="@Url.Action("SaveBlogCategory", "Blog")" />
<input type="hidden" id="hidDeleteBlogCategoryUrl" value="@Url.Action("DeleteBlogCategory", "Blog")" />
<input type="hidden" id="hidId" />