@model IEnumerable<BurialPlots.DAL.PostCode>

<div class="row">
    @foreach (var item in Model)
            {
        <div class="col-md-3">
            <a href="@Url.Action("ServiceListing", "Home",new {PostCode=item.Code, id = ViewBag.FuneralId })">@item.Code</a>
        </div>
    }
</div>

