/* 
- Name: megamenu.js - style.css
- Version: 1.0
- Latest update: 29.01.2016.
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Body - not related to megamenu
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
megamenu.js STYLE STARTS HERE
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.menu-mobile {
    display: none;
}

.menu-mobile:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 2.5rem;
    padding: 0 20px;
    float: right;
    position: relative;
    top: 25%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
    background-color: rgba(150, 133, 141, 0.5);
    color: #fff;
}

.menu-dropdown-icon:before {
    content: "\f489";
    font-family: "Ionicons";
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: #fff;
    color: #333;
}

.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    /* position: relative; */
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    border-top: 0px solid #ff5f05;
    padding: 0 12px;
    display: inline-block;
}

.menu > ul > li a {
    color: #fff;
    display: block;
    line-height: 24px;
    outline-offset: -1px;
    padding: 12px 0 0;
    font-size: 14px;
    font-weight: 400;
    text-transform:uppercase;
    position: relative;
    font-family: 'Roboto Slab', serif;
}

.menu > ul > li:hover {
    color: #d5d5d5;
}

.menu > ul > li > ul {
    display: none;
    width: 100%;
    padding: 20px 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 60px 0 0 0;
    list-style: none;
    box-sizing: border-box;
    background-color: rgba(110, 122, 146, 0.85);
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
}
.menu > ul > li > ul:before
{height: 60px;background-color: rgba(110, 122, 146, 0);width: 100%;float: left;clear: both;position: absolute;top:-60px;left:0;}
.menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    background: none;
    float: left;
}

.menu > ul > li > ul > li a {
    color: #fff;
    padding: .2em 0;
    width: 95%;
    display: block;
    border-bottom: 1px solid #fff;
}

.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: .8em;
}

.menu > ul > li > ul > li > ul > li a {
    border: 0;
}

.menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}
.header-menu.sticky .menu > ul > li > ul:before{height: 26px;top:-26px;}
.header-menu.sticky .menu > ul > li > ul{margin-top: 26px;}
.menu a.menu-mobile:before{display: none;}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 979px) {
    .menu-mobile {
        display: block;
    }
    .menu-dropdown-icon:before {
        display: block;
    }
    .menu > ul {
        display: none;
    }
    .menu > ul > li {
        width: 100%;
        float: none;
        display: inline-block;
    }
    .menu > ul > li a {
        padding: 1.5em;
        width: 100%;
        display: block;
    }
    .menu > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .menu > ul > li > ul > li:first-child {
        margin: 0;
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu .show-on-mobile {
        display: block;
        background-color: rgba(150, 133, 141, 0.8);
        position: relative;
    }
    .header-menu .menu  > ul.show-on-mobile > li > ul{margin-top: 0;}
    .menu > ul > li a{padding: 12px 0;}
}
@media only screen and (min-width: 980px) and (max-width: 1024px) {
.menu > ul > li {
    padding: 0 5px;
}
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
    .header-menu, .menu-mobile {
    height: 90px;
    line-height: 90px;
}
}
@media only screen and (max-width: 639px) {
    .header-menu, .menu-mobile {
    height: 90px;
    line-height: 90px;
}
}