
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<div class="padding-by-header">
    <div style="margin-top:80px">
        <div class="row">
            <div class="col-md-12">
                <h2>County</h2>
                <form action="~/CountyImports/ImportCounties" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" />
                    <input type="submit" value="submit" />
                </form>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <h2>Towns</h2>
                <form action="~/CountyImports/ImportTowns" method="post" enctype="multipart/form-data">
                    <input type="file" name="fileTown" />
                    <input type="submit" value="submit" />
                </form>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <h2>Post Code</h2>
                <form action="~/CountyImports/ImportPostCode" method="post" enctype="multipart/form-data">
                    <input type="file" name="filePost" />
                    <input type="submit" value="submit" />
                </form>
            </div>
        </div>
    </div>
</div>