@model IEnumerable<BurialPlots.DAL.AdministrativeEmail>

<table class="table table-responsive table-hover table-bordered table-striped" id="tblLoadEmails">
    <thead>
        <tr>
            <th class="hide"></th>
            <th>
                Email
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            var des = item.Email;
            string[] emails = des.Split(new string[] { "\r\n", "\n" }, StringSplitOptions.None);
            foreach (var item1 in emails)
            {
                if (!string.IsNullOrEmpty(item1))
                {
                    <tr>
                        <td class="hide">@item.Id</td>


                        <td>
                            @item1

                        </td>

                        <td>
                            <a href="@Url.Action("EditEmail","Settings",new {id=item.Id })"><span class="fa fa-edit" style="color: green; cursor: pointer"></span></a> &nbsp;
                            <span class="fa fa-trash-o" style="color: red; cursor: pointer" onclick="deleteEmail('@item.Id')"></span>
                        </td>
                    </tr>
                }
            }

        }
    </tbody>
</table>
