@model BurialPlots.DAL.ServicesListingApproval

@{
    ViewBag.Title = "Listing Services Approval";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    
<script src="~/Areas/Admin/JS/Setting/approval.js"></script>
    }
<div class="row" style="margin-top:40px;">
    <div class="col-md-4 col-md-offset-1">
       <div class="panel panel-default">
            <div class="panel-heading">Select Approving Option</div>
           <div class="panel-body">
              
                   <div class="form-group">
                       
                           @if (Model.Status == true)
                           {
                            <label class="radio-inline">
                            <input type="radio" class="rdApprove" value="on" name="Approval" checked/>ON
                            </label>

                            <label class="radio-inline">
                            <input type="radio" class="rdApprove" value="off" name="Approval" />OFF
                            </label>
                           }
                           else
                           {
                            <label class="radio-inline">
                                <input type="radio" class="rdApprove" value="on" name="Approval"/>ON
                            </label>

                            <label class="radio-inline">
                                <input type="radio" class="rdApprove" value="off" name="Approval" checked/>OFF
                            </label>
                           }                            
                 </div>
                    <div class="form-group">
                       <button id="saveApproval" onclick="SaveServicesApproval()" class="btn btn-primary col-md-3">Save</button>
                    </div>

           </div>
         
        </div>
    </div>
</div>
<input type="hidden" id="hApprovalId" value="@Model.Id" />

