
@{
    ViewBag.Title = "Countries";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
<script src="~/Areas/Admin/JS/Setting/country.js"></script>
}

<div class="row">
    <div class="col-md-12">
        <h2>Countries</h2>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-5">
                <label>Country Name:</label>
            </div>
            <div class="col-md-7">
                <input type="text" id="txtName" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-5">
                <label>Description:</label>
            </div>
            <div class="col-md-7">
                <textarea type="text" id="txtDescription" class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row text-center">
    <input type="button" value="Save" onclick="saveCountry()" class="btn btn-success" />
    <input type="button" value="Reset" onclick="resetAllFields()" class="btn btn-default" />
</div>
<br />
<div class="row">
    <div class="col-md-12" id="divLoadCountries"></div>
</div>

<input type="hidden" id="hidId" />
<input type="hidden" id="hidLoadCountriesUrl" value="@Url.Action("LoadCountries", "Settings")" />
<input type="hidden" id="hidSaveCountryUrl" value="@Url.Action("SaveCountry", "Settings")" />
<input type="hidden" id="hidDeleteCountryUrl" value="@Url.Action("DeleteCountry", "Settings")" />