
@{
    ViewBag.Title = "Notifications Emails";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts{
<script src="~/Areas/Admin/JS/Setting/Email.js"></script>
}
<style>
    .customMargin{
        margin-bottom:10px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h2>Notifications Emails</h2>
    </div>
</div>
<br />

<div class="row">
    <label class="control-label col-md-3">Emails* <span class="fa fa-plus" id='addButton' style="cursor:pointer;"></span></label>
        <div class="col-lg-4" id="TextBoxesGroup">
            <div id="TextBoxDiv1" class="customMargin">
                <input type="text" placeholder="Enter Email" id='textbox1' class="form-control" />
            </div>
    </div>
    <div class="col-md-5">
        <span class="fa fa-trash-o" style="cursor:pointer; color:red" id='removeButton'></span>
    </div>

</div>
@*<input type='button' value='Get TextBox Value' id='getButtonValue'>*@
<br />
<div class="row text-center">
    <input type="button" value="Save" id='saveEmails' class="btn btn-success" />
    <input type="button" value="Reset" onclick="resetAllFields()" class="btn btn-default" />
</div>
<br />
<div class="row">
    <div class="col-md-12" id="divLoadEmail"></div>
</div>

<input type="hidden" id="hidId" />
<input type="hidden" id="hidLoadEmailUrl" value="@Url.Action("LoadEmails", "Settings")" />
<input type="hidden" id="hidSaveEmailUrl" value="@Url.Action("SaveEmail", "Settings")" />
<input type="hidden" id="hidDeleteEmailUrl" value="@Url.Action("DeleteEmail", "Settings")" />
