
@{
    ViewBag.Title = "PostCodes";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts{
<script src="~/Areas/Admin/JS/Setting/postCode.js"></script>
}
<div class="row">
    <div class="col-md-12">
        <h2>Post Codes</h2>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-5">
                <label>Post Code:</label>
            </div>
            <div class="col-md-7">
                <input type="text" id="txtCode" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-5">
                <label>Description:</label>
            </div>
            <div class="col-md-7">
                <textarea type="text" id="txtDescription" class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row text-center">
    <input type="button" value="Save" onclick="savePostCode()" class="btn btn-success" />
    <input type="button" value="Reset" onclick="resetAllFields()" class="btn btn-default" />
</div>
<br />
<div class="row">
    <div class="col-md-12" id="divLoadPostCodes"></div>
</div>

<input type="hidden" id="hidId" />
<input type="hidden" id="hidLoadPostCodesUrl" value="@Url.Action("LoadPostCodes", "Settings")" />
<input type="hidden" id="hidSavePostCodeUrl" value="@Url.Action("SavePostCode", "Settings")" />
<input type="hidden" id="hidDeletePostCodeUrl" value="@Url.Action("DeletePostCode", "Settings")" />