@model BurialPlots.DAL.PurchaseBoxImage
@{
    ViewBag.Title = "Purchase Box";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/Areas/Admin/JS/Setting/purchaseBox.js"></script>
}
<div class="row">
    <div class="col-md-12">
        <h2>Purchase Box</h2>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-3">
                <label>Default Image(1920 X 504):</label>
            </div>
            <div class="col-md-9">
                <input type="file"  id="ImgUpload" onchange="showMyImage(this)" class="btn btn-warning" style="width:100%" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                @if (Model != null && !string.IsNullOrEmpty(Model.Image))
                {
                    <img src="~/images/CemeteryPlots/@Model.Image" alt="" id="thumbnil" style="width:200px;height:200px" />
                }
                else
                {
                    <img src="" alt="" id="thumbnil" style="width:200px;height:200px" />
                }
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-offset-3 col-md-9 text-center">
                <input type="button" class="btn btn-success" onclick="savePurchaseBoxImage()" value="Save" />
            </div>
        </div>
    </div>
</div>