
@{
    ViewBag.Title = "Religions";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
<script src="~/Areas/Admin/JS/Plot/religions.js"></script>
    }
<div class="row">
    <div class="col-md-12">
        <h2>Religion</h2>
    </div>
</div>
<br />
<input type="hidden" id="hidReligionId" />
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-6">
                <label>Religion Name</label>
                <input type="text" id="txtReligionName" class="form-control" />
            </div>
            <div class="col-md-6">
                <label>Select Pin Image</label>
                <input type="file" id="ImgUpload" onchange="showMyImage(this)" class="btn btn-warning" style="width:100%" />
                <img src="" alt="" id="thumbnil"  style="width:200px;height:200px" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12 text-center">
                <input type="button" value="Save" class="btn btn-success" onclick="saveReligions()" />
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12" id="divLoadReligions"></div>
</div>
<br />
<hr style="background-color:cadetblue;height:3px" />
<div class="row">
    <div class="col-md-12">
        <h2>Sect</h2>
    </div>
</div>
<br />
<input type="hidden" id="hidSectId" />
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-6">
                <label>Religion</label>
                <select class="form-control" id="drpReligions">
                    <option value="">--Select Religion--</option>
                </select>
            </div>
            <div class="col-md-6">
                <label>Sect Name</label>
                <input type="text" class="form-control" id="txtSectName" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12 text-center">
                <input type="button" value="Save" class="btn btn-success" onclick="saveSect()" />
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12" id="divLoadSects"></div>
</div>