@model IEnumerable<BurialPlots.DAL.AdminLogin>


<table id="tbluser" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th class="hide"></th>
            <th>
          User Name
            </th>
            <th>
     Role
            </th>
          
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td class="hide">@item.Id</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @if (item.Role == "Admin")
                    {
                        <span>Cemetery Manager</span>
                    }
                    else
                    {
                        <span>Super Admin</span>
                    }
                </td>
               
               
                
                <td>
                    <a href="@Url.Action("EditSystemUser","Admin",new {id=item.Id,Area="Admin" })"><i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="tooltip modal" title="Click here to edit the user"></i></a>
                    <a><i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" title="Click here to delete the user" id="Delete" onclick="Delete(@item.Id)"></i></a>
                  
                </td>
            </tr>
        }
    </tbody>
</table>

