
@{
    ViewBag.Title = "Customers";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

@section Scripts{
<script src="~/Areas/Admin/JS/EditMember.js"></script>
}
<div class="row">
    <div class="col-md-12">
        <h2>Customers (@ViewBag.totlacoont)</h2>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" id="btnTogle" onclick="ToggleMemberRegister()">Add Customer</a>
    </div>
</div>
<br>
<div id="openrigster" style="display:none">
    <div class="row">
        <div class="col-md-12">
            <h2>Add Customer</h2>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <label>First Name</label>
            <input type="text" class="form-control" id="firstname" />
        </div>
        <div class="col-md-4">
            <label>Last Name</label>
            <input type="text" class="form-control" id="lastname" />
        </div>
        <div class="col-md-4">
            <label>Email</label>
            <input type="text" class="form-control" id="email" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <label>Password</label>
            <input type="password" class="form-control" id="password" />
        </div>
        <div class="col-md-4">
            <label>Telephone Number</label>
            <input type="text" class="form-control" id="phone" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <input type="button" class="btn btn-success" style="width:100%" value="Add" onclick="AddCoustmers()" />
        </div>
    </div>
</div>
<br />
<div id="modaldata" style="display:none;">
    <div id="Edit1" >
        <table class="table table-hover table-hover">
         
             <tr>
                <td>First Name</td>
                <td><input type="text" id="fname"  class="form-control" /></td>
            </tr>
            <tr>
                <td>
                    Last Name
                </td>
                <td>
                    <input type="text" id="lname"  class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    Email
                </td>
                <td>
                    <input type="email" id="email"  class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                 Cell Number
                </td>
                <td>
                    <input type="text" id="cell" class="form-control"  />
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password" id="pass"  class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                     Role 
                </td>
                <td>
                   <input type="text" readonly value="" id="role"  class="form-control" />
                </td>
            </tr>
       
            
           
        </table>
        
            @*<div class="row">
                <div class="col-md-7">
                    <img id="captcha" src="library/vender/securimage/securimage_show.php" alt="CAPTCHA Image" />
                    <a href="#" onclick="document.getElementById('captcha').src = 'library/vender/securimage/securimage_show.php?' + Math.random(); return false" class="btn btn-info btn-sm">Show a Different Image</a><br />
                    <div class="form-group" style="margin-top: 10px;">
                        <input type="text" class="form-control" name="captcha_code" id="captcha_code" placeholder="For security, please enter the code displayed in the box." />
                        <span class="help-block" style="display: none;">Please enter the code displayed within the image.</span>
                    </div>
                </div>
            </div>*@
      
            <div class="row" style="padding-top:50px;">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <input type="button" value="Submit" onclick="update()" class="form-control btn-primary" />
                </div>
                <div class="col-md-4">
                   
                    <input type="button" value="Hide" class="btn-danger form-control" id="hide" />
                </div>
            <div class="col-md-2"></div>
            </div>
        </div>
            </div>
       


    <div id="Load">

    </div>
<input type="hidden" id="laodmember" value="@Url.Action("LoadMember","Admin")" />
<input type="hidden" id="Memid" value="" />






