@model IEnumerable<BurialPlots.DAL.NewsManagement>

@{
    ViewBag.Title = "All News Feeds";
    Layout = "~/Views/Shared/_Header.cshtml";
}


<div class="padding-by-header">
    <div style="margin-top:60px">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>News Feed</h3>
            </div>
        </div>
        <br />
        <div class="container content">
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-md-10 col-md-offset-1" style="background:#f9e9e5; border-radius:20px">
                        <div style="padding:20px">
                            <h3>@item.Title</h3>
                            <p>@item.Description</p>
                            <br />
                        </div>
                    </div>
                </div>
                <br>
                <br>
            }
        </div>
    </div>
</div>