
@{
    ViewBag.Title = "File Not Found!";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<div class="padding-by-header" >
    <div class="row margin-top-20" style="margin-top:80px">
        <div class="col-md-12 text-center">
            <h1><i class="fa fa-frown-o" aria-hidden="true"></i> 
Error 404!</h1>
            <br />
            <h4>File not found or something went wrong.</h4>
            <a class="btn" href="~/Admin/Page/PageView/Index">Back to Home</a>
        </div>
    </div>
</div>