@using BurialPlots.DAL
@{
    ViewBag.Title = "Burial Plots";
}

@{

    Layout = "~/Views/Shared/_Header.cshtml";
    var date = DateTime.Now.Date;
    var newsList = new NewsManagementRepository().GetAll().ToList();
    var religious = new RelgionRepostiory().GetAll();
    var slides = new AddSlidesRepository().GetAll();
}
@section Scripts{

    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/Home/index.js"></script>
    <script>
        $(document).ready(function () {
            // activate carousel
            $("#myCarousel").carousel({ interval: 10000 });
        });
    </script>
}




<body id="top" >
    


   
</body>