
@{
    ViewBag.Title = "Testing";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<link href="~/css/lightbox.min.css" rel="stylesheet" />
@section Scripts{
<script src="~/Scripts/lightbox-plus-jquery.min.js"></script>
<script src="~/js/owl.carousel.js"></script>
<script>
  jQuery(document).ready(function($) {

    var sync1 = $("#sync1");
    var sync2 = $("#sync2");
    var slidesPerPage = 3; //globaly define number of elements per page
    var syncedSecondary = false;

    sync1.owlCarousel({
      items : 1,
      slideSpeed : 2000,
      nav: false,
      autoplay: false,
      dots: false,
      loop: true,
      responsiveRefreshRate : 200,
      navText: ['<svg width="100%" height="100%" viewBox="0 0 11 20"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M9.554,1.001l-8.607,8.607l8.607,8.606"/></svg>','<svg width="100%" height="100%" viewBox="0 0 11 20" version="1.1"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M1.054,18.214l8.606,-8.606l-8.606,-8.607"/></svg>'],
    }).on('changed.owl.carousel', syncPosition);

    sync2
      .on('initialized.owl.carousel', function () {
        sync2.find(".owl-item").eq(0).addClass("current");
      })
      .owlCarousel({
      items : slidesPerPage,
      dots: false,
      nav: false,
      margin:10,
      smartSpeed: 200,
      slideSpeed : 500,
      slideBy: slidesPerPage, //alternatively you can slide by 1, this way the active slide will stick to the first item in the second carousel
      responsiveRefreshRate : 100
    }).on('changed.owl.carousel', syncPosition2);

    function syncPosition(el) {
      //if you set loop to false, you have to restore this next line
      //var current = el.item.index;

      //if you disable loop you have to comment this block
      var count = el.item.count-1;
      var current = Math.round(el.item.index - (el.item.count/2) - .5);

      if(current < 0) {
        current = count;
      }
      if(current > count) {
        current = 0;
      }

      //end block

      sync2
        .find(".owl-item")
        .removeClass("current")
        .eq(current)
        .addClass("current");
      var onscreen = sync2.find('.owl-item.active').length - 1;
      var start = sync2.find('.owl-item.active').first().index();
      var end = sync2.find('.owl-item.active').last().index();

      if (current > end) {
        sync2.data('owl.carousel').to(current, 100, true);
      }
      if (current < start) {
        sync2.data('owl.carousel').to(current - onscreen, 100, true);
      }
    }

    function syncPosition2(el) {
      if(syncedSecondary) {
        var number = el.item.index;
        sync1.data('owl.carousel').to(number, 100, true);
      }
    }

    sync2.on("click", ".owl-item", function(e){
      e.preventDefault();
      var number = $(this).index();
      sync1.data('owl.carousel').to(number, 300, true);
    });
  });
</script>
    }
<div class="site-info padding-by-header">
    <div class="container margin-top-20" style="margin-bottom: -150px;">
        <div class="row">
            <div class="col-md-12">
                <h3>Borehamwood Cemetery</h3>
            </div>
        </div><!-- row -->
        <div class="row">
            <div class="col-md-12">
                <span class="cememtery-image-block alignleft">
                    <div id="sync1" class="owl-carousel product-image-gallery owl-theme">
                        <div class="item"><a href="~/images/cemetries.jpg" data-lightbox="roadtrip"><img src="~/images/cemetries.jpg" alt=""></a></div>
                        <div class="item"><a href="~/images/small-image.jpg" data-lightbox="roadtrip"><img src="~/images/small-image.jpg" alt=""></a></div>
                        <div class="item"><a href="~/images/small-image1.jpg" data-lightbox="roadtrip"><img src="~/images/small-image1.jpg" alt=""></a></div>
                        <div class="item"><a href="~/images/small-image.jpg" data-lightbox="roadtrip"><img src="~/images/small-image.jpg" alt=""></a></div>
                    </div>
                    <div id="sync2" class="owl-carousel more-views owl-theme">
                        <div class="item"><img src="~/images/cemetries.jpg" alt=""></div>
                        <div class="item"><img src="~/images/small-image.jpg" alt=""></div>
                        <div class="item"><img src="~/images/small-image1.jpg" alt=""></div>
                        <div class="item"><img src="~/images/small-image.jpg" alt=""></div>
                    </div>
                </span>
                <p class="btn-group">
                    <a href="javascript:void(0)" class="enquiry-btn">Enquire Today</a>
                    <a href="javascript:void(0)" class="add-to-cart-btn">See Available Plots</a>
                </p>
                <p>BurialPlots.co.uk is a new and innovative way to source a burial plot in the UK. Whether you are considering the purchase of a plot for somebody who has just passed or you are future proofing your own plans by purchasing a pre-need burial plot for you and your family, our interactive guide will help you make the important choice of finding the perfect resting place.</p>
                <p>Whether it be a grandiose family size mausoleum, a burial at sea, a natural burial or even a tribute to the remembrance of cremated remains, we will help guide you through the process with the minimum of fuss and help you to personalise your wishes.</p>
                <p>Working independantly, we are able to offer an unbiased opinion on all of the cemetries and the ancillary bereavement services that we have researched to bring to you an information led approach to the right choices.</p>
                <p>This flourishing cleaning company has a great reputation and a good standing among customers in the Gloucestershire area. Over the last few years it has increasingly turned this into a good income which is consistently increasing with huge potential for further growth. Many more customers are out there for the proactive investor to find and existing customers remain loyal, with reliable commercial contracts and faithful residential clients </p>
                <p>BurialPlots.co.uk is a new and innovative way to source a burial plot in the UK. Whether you are considering the purchase of a plot for somebody who has just passed or you are future proofing your own plans by purchasing a pre-need burial plot for you and your family, our interactive guide will help you make the important choice of finding the perfect resting place.</p>
                <p>Whether it be a grandiose family size mausoleum, a burial at sea, a natural burial or even a tribute to the remembrance of cremated remains, we will help guide you through the process with the minimum of fuss and help you to personalise your wishes.</p>
                <p>Working independantly, we are able to offer an unbiased opinion on all of the cemetries and the ancillary bereavement services that we have researched to bring to you an information led approach to the right choices.</p>
                <p>BurialPlots.co.uk is a new and innovative way to source a burial plot in the UK. Whether you are considering the purchase of a plot for somebody who has just passed or you are future proofing your own plans by purchasing a pre-need burial plot for you and your family, our interactive guide will help you make the important choice of finding the perfect resting place.</p>
                <p>Whether it be a grandiose family size mausoleum, a burial at sea, a natural burial or even a tribute to the remembrance of cremated remains, we will help guide you through the process with the minimum of fuss and help you to personalise your wishes.</p>
                <p>Working independantly, we are able to offer an unbiased opinion on all of the cemetries and the ancillary bereavement services that we have researched to bring to you an information led approach to the right choices.</p>
                <div class="btn-group">
                    <a href="javascript:void(0)" class="enquiry-btn">Enquire Today</a>
                    <a href="javascript:void(0)" class="add-to-cart-btn">See Available Plots</a>
                </div>
                <div class="cememtery-map">
                    <a href="javascript:void(0)" class="add-to-cart-btn map-btn">Burial Plots From £4500</a>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158605.4275767981!2d-0.3589459580474929!3d51.60104423877648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876057d45f5d3a5%3A0xca3562498d604b3f!2sBrompton+Cemetery!5e0!3m2!1sen!2sin!4v1504008735763" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div id="information-tab">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#1a" data-toggle="tab">key information</a>
                        </li>
                        <li>
                            <a href="#2a" data-toggle="tab">Location</a>
                        </li>
                        <li>
                            <a href="#3a" data-toggle="tab">Why choose Borehamwood Cemetery</a>
                        </li>
                    </ul>

                    <div class="tab-content clearfix">
                        <div class="tab-pane active" id="1a">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit odio ante, id dapibus elit condimentum vitae. Maecenas eget orci vitae enim accumsan mollis. In congue nunc velit, sit amet eleifend velit cursus vitae. Morbi lorem massa, lobortis id bibendum et, rhoncus porttitor tortor. Aenean eget orci pulvinar, tincidunt neque quis, aliquam lectus. </p>
                            <ul class="tick-list">
                                <li>Etiam nec malesuada tortor. Sed id condimentum turpis. Quisque non fermentum est. Integer lobortis turpis a justo dignissim, sit amet accumsan sem pulvinar. </li>
                                <li>Morbi mollis vitae libero in rhoncus. Vestibulum at arcu faucibus, congue diam sit amet, viverra velit. </li>
                                <li>Sed rutrum urna ut dolor dignissim suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </li>
                                <li>Maecenas ultrices justo metus, quis facilisis justo interdum nec. Donec luctus ligula elit, eget varius urna sodales at. </li>
                                <li>Mauris enim risus, cursus at nulla eget, mattis imperdiet orci. </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="2a">
                            <p>We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab</p>
                        </div>
                        <div class="tab-pane" id="3a">
                            <p>We applied clearfix to the tab-content to rid of the gap between the tab and the content</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- row -->
    </div>
</div>