<!DOCTYPE html>
<html class="js" lang="en-US">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="profile" href="http://gmpg.org/xfn/11">
<title>Burial Plots</title>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link  rel="stylesheet" href="~/css/bootstrap.min.css">
<link rel="stylesheet" href="~/stylea.css" type="text/css" media="all">
<script type="text/javascript" src="~/js/jquery.js"></script>


<!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">

<!-- fixed header -->
<script>
jQuery(window).scroll(function() {
    if (jQuery(this).scrollTop() > 1){  
        jQuery('.header-menu').addClass("sticky");
    }
    else{
        jQuery('.header-menu').removeClass("sticky");
    }

});
</script>
<!-- Owl Carousel Assets -->
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">

<!-- menu -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/ionicons.min.css">



</head>

<body id="top">
<div id="page" class="site">
  <div class="site-inner">
    <header id="masthead" class="site-header" role="banner">
      <div class="site-header-main">
        <div class="header-top">
            <div class="container">
                <ul class="header-top-menu">
                    <li><a href="#">My Account <i class="fa fa-user"></i></a></li>
                    <li>
                        <div id="customMobilemenu">
                            <div class="dropdown" id="deropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">       
                                        <span>English <i class="fa fa-angle-down"></i></span>        
                                </button>
                                
                                <ul class="dropdown-menu changeBackground">
                                    <li class="byDefault" style="background-color: rgb(135, 149, 176);"><a href="#" onclick="ChangeLanguage('en')">English</a></li>
                                    <li class="clickChange"><a href="#" onclick="ChangeLanguage('ur')">Urdu</a></li>
                                    <li class="clickChange"><a href="#" onclick="ChangeLanguage('hi')">Hindi</a></li>
                                    <li class="clickChange"><a href="#" onclick="ChangeLanguage('ar')">Arabic</a></li>
                                    <li class="clickChange"><a href="#" onclick="ChangeLanguage('zh')">Chinese</a></li>
                                    <li class="clickChange"><a href="#" onclick="ChangeLanguage('it')">Italian</a></li>
                                    <li class="clickChange"><a href="#" onclick="ChangeLanguage('tr')">Turkish</a></li>
                                    <li class="clickChange"><a href="#" onclick="ChangeLanguage('bn')">Bengali</a></li>
                                    <li class="clickChange"><a href="#" onclick="ChangeLanguage('he')">Hebrew</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!-- header-top -->
        <div class="header-menu">
          <div class="container">
            <div class="site-branding">
              <a href="#"><img src="images/logo.png" alt="Burial Plots"></a>
            </div>

            <div id="site-header-menu" class="menu-container site-header-menu">
              <div class="menu">
                  <ul id="menu-nav" class="primary-menu">
                      <li><a href="javascript:void(0)">BURIAL PLOTS</a>
                          <ul>
                              <li><a href="javascript:void(0)">Locations</a>
                              <ul>
                                  <li><a href="javascript:void(0)">Burial Plots</a></li>
                                  <li><a href="javascript:void(0)">Burial Plots</a></li>
                                  <li><a href="javascript:void(0)">Burial Plots</a></li>
                                  <li><a href="javascript:void(0)">Burial Plots</a></li>
                              </ul>
                            </li>
                          </ul>
                          <ul class="menu-ad-block">
                              <li>
                                  <div class="menu-ad">
                                    <h3>Legal</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum. </p>
                                    <a href="#">[Click for more]</a>
                                  </div>
                              </li>
                          </ul>
                      </li>
                      <li><a href="javascript:void(0)">BEREAVEMENT</a>
                          <ul>
                              <li><a href="javascript:void(0)">Where to Start</a>
                                  <ul>
                                      <li><a href="javascript:void(0)">After Funerals</a></li>
                                      <li><a href="javascript:void(0)">Memorials</a></li>
                                      <li><a href="javascript:void(0)">Stonemasons</a></li>
                                  </ul>
                              </li>
                              <li><a href="javascript:void(0)">Funerals</a>
                                  <ul>
                                      <li><a href="javascript:void(0)">Arranging</a></li>
                                  </ul>
                              </li>
                              <li><a href="javascript:void(0)">Funerals Directors</a>
                                  <ul>
                                      <li><a href="javascript:void(0)">Services</a></li>
                                      <li><a href="javascript:void(0)">Coffins</a></li>
                                      <li><a href="javascript:void(0)">Florists</a></li>
                                      <li><a href="javascript:void(0)">Cars</a></li>
                                      <li><a href="javascript:void(0)">Funeral Plans</a></li>
                                  </ul>
                              </li>
                          </ul>
                          <ul class="menu-ad-block">
                              <li>
                                  <div class="menu-ad">
                                    <h3>Legal</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum. </p>
                                    <a href="#">[Click for more]</a>
                                  </div>
                              </li>
                          </ul>
                      </li>
                      <li><a href="javascript:void(0)">HELPFUL ADVICE</a>
                          <ul>
                              <li><a href="javascript:void(0)">Today</a>
                                  <ul>
                                      <li><a href="javascript:void(0)">Lidership</a></li>
                                      <li><a href="javascript:void(0)">History</a></li>
                                      <li><a href="javascript:void(0)">Locations</a></li>
                                      <li><a href="javascript:void(0)">Careers</a></li>
                                  </ul>
                              </li>
                              <li><a href="javascript:void(0)">Calendar</a>
                                  <ul>
                                      <li><a href="javascript:void(0)">Undergraduate</a></li>
                                      <li><a href="javascript:void(0)">Masters</a></li>
                                      <li><a href="javascript:void(0)">International</a></li>
                                      <li><a href="javascript:void(0)">Online</a></li>
                                  </ul>
                              </li>
                              <li><a href="javascript:void(0)">Sport</a>
                                  <ul>
                                      <li><a href="javascript:void(0)">Undergraduate research</a></li>
                                      <li><a href="javascript:void(0)">Masters research</a></li>
                                      <li><a href="javascript:void(0)">Funding</a></li>
                                  </ul>
                              </li>
                          </ul>
                          <ul class="menu-ad-block">
                              <li>
                                  <div class="menu-ad">
                                    <h3>Legal</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum. </p>
                                    <a href="#">[Click for more]</a>
                                  </div>
                              </li>
                          </ul>
                      </li>
                      <li><a href="javascript:void(0)">LEGAL</a>
                          <ul>
                              <li><a href="#">School</a>
                                  <ul>
                                      <li><a href="#">Lidership</a></li>
                                      <li><a href="#">History</a></li>
                                      <li><a href="#">Locations</a></li>
                                      <li><a href="#">Careers</a></li>
                                  </ul>
                              </li>
                              <li><a href="#">PRESS & NEWS</a>
                                  <ul>
                                      <li><a href="#">Undergraduate</a></li>
                                      <li><a href="#">Masters</a></li>
                                      <li><a href="#">International</a></li>
                                      <li><a href="#">Online</a></li>
                                  </ul>
                              </li>
                              <li><a href="#">Empty sub</a></li>
                          </ul>
                          <ul class="menu-ad-block">
                              <li>
                                  <div class="menu-ad">
                                    <h3>Legal</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum. </p>
                                    <a href="#">[Click for more]</a>
                                  </div>
                              </li>
                          </ul>
                      </li>
                      <li><a href="javascript:void(0)">PRESS & NEWS</a></li>
                      <li><a href="javascript:void(0)">CONTACT</a></li>
                  </ul>
              </div>
            </div><!-- .main-navigation-->
          </div><!-- container -->
        </div><!-- header-menu -->
        <!-- .site-header-menu -->
      </div>
      <!-- .site-header-main -->
    </header>
    <!-- .site-header -->
  </div>
  <!-- .site-inner -->
</div>
<div class="banner" style="background-image: url('images/banner-about.jpg'); padding-top:203px;">
    <div class="caption-inner" style="margin-bottom:332px">
        <div class="container">
            <h2>Sell Your Burial plot</h2>
        </div>
    </div>
</div><!-- banner -->
  <div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
          <div class="section sell-block text-left-align">
            <div class="container">
              <div class="col-sm-12 col-md-8">
                  <h2 class="underline text-left-align">Burial Plots Team</h2>
                  <p>BurialPlots.co.uk is a new and innovative way to source a burial plot in the UK. Whether you are considering the purchase of a plot for somebody who has just passed or you are future proofing your own plans by purchasing a pre-need burial plot for you and your family, our interactive guide will help you make the important choice of finding the perfect resting place.</p>
                  <p>Whether it be a grandiose family size mausoleum, a burial at sea, a natural burial or even a tribute to the remembrance of cremated remains, we will help guide you through the process with the minimum of fuss and help you to personalise your wishes.</p>
                  <p>Working independantly, we are able to offer an unbiased opinion on all of the cemetries and the ancillary bereavement services that we have researched to bring to you an information led approach to the right choices.</p>
                  <a href="#"" class="enquiry-btn"  data-modal-id="enquiry-form2">Enquiry</a>
                  <br /><br />
                  <h3>Multiple Burial Plot Owners</h3>
                  <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                  <p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
                  <p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
                  <a href="#" class="enquiry-btn" data-modal-id="enquiry-form2">Enquiry</a>
                  <br /><br />
                  <h3>Individual Burial Plot Owners</h3>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                  <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
                  <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere </p>
                  <br />
                  <a href="#" class="enquiry-btn" data-modal-id="enquiry-form2">Enquiry</a>
              </div>
              <div class="col-sm-12 col-md-4">
                  <div class="sell-contact-form">
                      <h3>ENQUIRY FORM</h3>
                      <form>
                            <ul class="contact-form">
                                <li>
                                    <label>Name <span style="color:red">*</span>:</label>
                                    <input name="" placeholder="" type="text" required class="aside-text">
                                    <input name="" placeholder="" type="text" required class="aside-text">
                                </li>
                                <li>
                                    <label>Email <span style="color:red">*</span>:</label>
                                    <input name="" placeholder="" type="email" required>
                                </li>
                                <li>
                                    <label>Mobile <span style="color:red">*</span>:</label>
                                    <input name="" placeholder="" type="text" required>
                                </li>
                                <li>
                                    <label>Message <span style="color:red">*</span>:</label>
                                    <textarea name="" required></textarea>
                                </li>
                                <li>
                                    <input value="Submit" type="submit">
                                </li>
                            </ul>
                        </form>
                  </div>
              </div>
            </div>
          </div>

          <div class="section text-center-align purple-bg">
            <div class="container">
                <h2>How it Works</h2>
                <div class="row how-it-works">
                    <div class="col-sm-12 col-md-4">
                        <div class="image-how-it-works">
                          <span class="count-icon">1</span>
                          <a href="#"><img src="images/enquiry-pic.jpg" alt="" width="169"></a>
                        </div>
                        <h3>Enquire</h3>
                        <p>Maecenas imperdiet nisi lorem, sed fermentum tortor pretium eget. Sed mollis lacus quis nunc cursus cursus. Quisque et magna sit amet sapien fermentum scelerisque eu id massa. </p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="image-how-it-works">
                          <span class="count-icon">2</span>
                          <a href="#"><img src="images/agree-price.jpg" alt="" width="169"></a>
                        </div>
                        <h3>Agree Price</h3>
                        <p>Maecenas imperdiet nisi lorem, sed fermentum tortor pretium eget. Sed mollis lacus quis nunc cursus cursus. Quisque et magna sit amet sapien fermentum scelerisque eu id massa. </p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="image-how-it-works">
                          <span class="count-icon">3</span>
                          <a href="#"><img src="images/sell-pic.jpg" alt="" width="169"></a>
                        </div>
                        <h3>Sell</h3>
                        <p>Maecenas imperdiet nisi lorem, sed fermentum tortor pretium eget. Sed mollis lacus quis nunc cursus cursus. Quisque et magna sit amet sapien fermentum scelerisque eu id massa. </p>
                    </div>
                </div>
            </div>
          </div>
          <div class="section text-center-align">
              <div class="container">
                  <h2 class="underline">Sales</h2>
                  <p>BurialPlots.co.uk is a new and innovative way to source a burial plot in the UK. Whether you are considering the purchase of a plot for somebody who has just passed or you are future proofing your own plans by purchasing a pre-need burial plot for you and your family, our interactive guide will help you make the important choice of finding the perfect resting place.</p>
                  <p>Whether it be a grandiose family size mausoleum, a burial at sea, a natural burial or even a tribute to the remembrance of cremated remains, we will help guide you through the process with the minimum of fuss and help you to personalise your wishes.</p>
                  <p><strong>If you need anymore information on the sale of you burial plots please get in touch on 0121 000 000 or fill in one of our enquiry forms</strong></p>
                  <br />
                  <a href="#" class="enquiry-btn">Enquiry</a>
              </div>
          </div>
        </main>
    </div>
  </div>
    <!-- .site-content -->
    <footer id="colophon" class="site-footer" role="contentinfo">
      <div class="site-info">
          <div class="section overlay-purple" style="background-image:url('images/footer-form-bg.jpg');">
              <div class="container">
                  <h2 class="underline text-left-align">We’d love to hear from you.</h2>
                  <div class="contact-info">
                    <div class="contact-details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum. </p>
                        <p>Address here <br />
                           Telephone number here <br/>
                           Email address here
                        </p>
                    </div>
                    <form>
                        <ul class="contact-form">
                            <li>
                                <label>Full Name</label>
                                <input type="text" name="" placeholder="">
                            </li>
                            <li>
                                <label>Email</label>
                                <input type="email" name="" placeholder="">
                            </li>
                            <li class="wide">
                                <label>Message</label>
                                <textarea name=""></textarea>
                            </li>
                            <li class="wide">
                                <input type="submit" value="Send">
                            </li>
                        </ul>
                    </form>
                  </div>
              </div>
          </div>
          <div class="section light-purple-bg">
              <div class="container">
                  <div class="footer-menu">
                      <div class="footer-block">
                          <a href="#"><img src="images/footer-logo.png" alt=""></a>
                          <p>Keep up to date with BurialPlots.co.uk</p>
                          <ul class="social-icons">
                              <li><a href="#">Facebook</a></li>
                              <li><a href="#">Yelp</a></li>
                              <li><a href="#">Twitter</a></li>
                              <li><a href="#">Youtube</a></li>
                              <li><a href="#">Instagram</a></li>
                              <li><a href="#">Vimeo</a></li>
                          </ul>
                      </div><!-- footer-block -->
                      <div class="footer-block">
                          <h3>Helpful Advice</h3>
                          <ul>
                              <li><a href="#">Healing Process</a></li>
                              <li><a href="#">Parental Grief</a></li>
                              <li><a href="#">Suicide</a></li>
                              <li><a href="#">Helpful Orgs</a></li>
                              <li><a href="#">Dealing with Children</a></li>
                              <li><a href="#">Shock of Sudden Death</a></li>
                              <li><a href="#">Writing Eulagles</a></li>
                              <li><a href="#">FAQ</a></li>
                          </ul>
                      </div><!-- footer-block -->
                      <div class="footer-block">
                          <h3>Main Menu</h3>
                          <ul>
                              <li><a href="#">Burial Plots</a></li>
                              <li><a href="#">Bereavement</a></li>
                              <li><a href="#">About Us</a></li>
                              <li><a href="#">Helpful Advice</a></li>
                              <li><a href="#">Legal</a></li>
                              <li><a href="#">Contact</a></li>
                          </ul>
                      </div><!-- footer-block -->
                  </div>
              </div>
          </div>
      </div>
      <!-- .site-info -->
    </footer>
    <!-- .site-footer -->
<!-- .site -->
<div id="mask"></div>
<div id="enquiry-form2" class="modal"> 
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h3 class="text-center-align">Enquiry Form</h3>
          <a href="#" class="js-modal-close close" data-dismiss="modal">×</a>
          <form>
            <ul class="enquiry-form">
                <li class="col-sm-12 col-md-6">
                    <label>First Name <span class="red">*</span>: </label>
                    <input type="text" name="" placeholder="" required="">
                </li>
                <li class="col-sm-12 col-md-6">
                    <label>Email <span class="red">*</span>: </label>
                    <input type="email" name="" placeholder="" required="">
                </li>
                <li class="col-sm-12 col-md-6">
                    <label>Number of plots <span class="red">*</span>: </label>
                    <select class="form-control" id="status" name="status">
                        <option selected="">--Select--</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </li>
                <li class="col-sm-12 col-md-6">
                    <label>Purchase Price<span class="red">*</span>: </label>
                    <input type="text" name="" placeholder="" required="">
                </li>
                <li class="col-sm-12 col-md-12">
                    <label>Cemetery Name<span class="red">*</span>: </label>
                    <input type="text" name="" placeholder="" required="">
                </li>
                <li class="col-md-12">
                    <label>Cemetery Address : </label>
                    <textarea name=""></textarea>
                </li>
                <li class="col-md-12">
                    <input type="submit" value="Submit" class="add-to-cart-btn">
                </li>
            </ul>
          </form>
        </div>
      </div>
    </div>
</div>

<script src="js/owl.carousel.js"></script>
<script>
jQuery(document).ready(function($) {
  $('.owl-carousel.latest-news').owlCarousel({
    loop: true,
    margin: 10,
    dots: true,
    items: 1,
  }) 
})
</script>
<script type="text/javascript">
  jQuery(document).ready(function($){
  $('#menu-nav').hover(function(){
     $(this).toggleClass('highlighted');
  });

  $('#menu-nav').hover(
       function(){ $('#mask').addClass('active') },
       function(){ $('#mask').removeClass('active') }
)
  });
</script>
<script src="js/megamenu.js"></script>

<script src="js/fancyfields-1.2.min.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function ($) {
    jQuery(".demo").fancyfields();
    jQuery("select").fancyfields({ customScrollBar: true });
  });
</script>


<!-- popup -->
<script src="js/modal.js"></script>
<script>
jQuery(function($){

var appendthis =  ("<div class='modal-overlay js-modal-close'></div>");

  $('a[data-modal-id]').click(function(e) {
    e.preventDefault();
    $("body").append(appendthis);
    $(".modal-overlay").fadeTo(500, 0.9);
    //$(".js-modalbox").fadeIn(500);
    var modalBox = $(this).attr('data-modal-id');
    $('#'+modalBox).fadeIn($(this).data());
  });  
  
  
$(".js-modal-close, .modal-overlay").click(function() {
    $(".modal-box, .modal-overlay, .modal").fadeOut(500, function() {
        $(".modal-overlay").remove();
    });
 
});
 
$(window).resize(function() {
    $(".modal-box").css({
        top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
        left: ($(window).width() - $(".modal-box").outerWidth()) / 2
    });
});
 
$(window).resize();
 
});
</script>

</body>
</html>