
@{
    ViewBag.Title = "My Orders";
    Layout = "~/Areas/Admin/Views/Shared/_UsersLayout.cshtml";
}

@section Scripts{
    
<script src="~/Areas/Admin/JS/Users/Orders.js"></script>
    
    }

<h2>My Orders</h2>

<div id="loadOrders">
    
</div>