@model IEnumerable<BurialPlots.DAL.SeviceListing>

<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("GravesInventoryExport", "Order")" class="pull-right" title="Export to Excel"><i style="font-size:25px" class="fa fa-file-excel-o"></i></a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3 pull-right">
        <select class="form-control" onchange="togglePlanDiv()" id="drpViewType">
            <option value="plans">Show Plans</option>
            <option selected="selected" value="services">Show Service Listings</option>
        </select>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover table-striped" id="tblLoadPlans">
            <thead>
                <tr>
                    <th>
                        Business Name
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Total Amount
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.BusinessName
                        </td>
                        <td>
                            @if (item.OrderPlans.FirstOrDefault() != null)
                            {
                                <span>@item.OrderPlans.FirstOrDefault().Status</span>
                            }
                            else
                            {
                                <span>Pending</span>
                            }
                        </td>
                        <td>
                            @if (item.OrderPlans.FirstOrDefault() != null)
                            {
                                <span>@item.OrderPlans.FirstOrDefault().OrderPlanItems.Sum(c => c.Price)</span>
                            }
                            else
                            {
                                <span>Pending</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
