@model IEnumerable<BurialPlots.DAL.PartnerPlan>

<div class="row">
    <div class="col-md-12">
        <a href="#" onclick="GravesLayerInventoryExport()" class="pull-right" title="Export to Excel"><i style="font-size:25px" class="fa fa-file-excel-o"></i></a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3 pull-right">
        <select class="form-control" onchange="togglePlanDiv()" id="drpViewType">
            <option selected="selected" value="plans">Show Plans</option>
            <option value="services">Show Service Listings</option>
        </select>
    </div>
    @*<div class="col-md-2 pull-right">
        <select class="form-control" onchange="loadPurchasePlan()" id="drpFilter">
            <option value="">All</option>
            <option value="Sold">Confirmed</option>
            <option value="Pending">Pending</option>
            <option value="Refunded">Refunded</option>
        </select>
    </div>*@
    <div class="col-md-1 pull-right">
        <label>Filter By:</label>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover table-responsive table-striped" id="tblLoadPlans">
            <thead>
                <tr>
                    <th>
                        Plan Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Total Sales
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.Price
                        </td>
                        <td>
                            @item.ServiceListingPlans.Count()
                        </td>
                        <td>
                           <span class="fa fa-eye" onclick="planPurchaseDetails('@item.Id')" style="cursor:pointer"></span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>