
@{
    ViewBag.Title = "Plan Orders";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts{
<script src="~/Areas/Admin/JS/Order/PlanOrder.js"></script>
}
<div class="row">
    <div class="col-md-12">
        <h2>Plan Orders</h2>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12" id="divLoadPlanOrders"></div>
</div>

<input type="hidden" id="hidLoadPlanOrdersUrl" value="@Url.Action("LoadPlanOrders", "Order")" />
<input type="hidden" id="hidDeletePlanOrderUrl" value="@Url.Action("DeletePlanOrder", "Order")" />
<input type="hidden" id="hidEditPlanOrderUrl" value="@Url.Action("EditPlanOrder", "Order")" />

