
@{
    ViewBag.Title = "Plans Inventory";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="~/Areas/Admin/JS/Order/planInventory.js"></script>
}
<h2>Plans Inventory</h2><br />
<div class="row">
    <div class="col-md-7">
        <span>Total Service Listing: </span><b>@ViewBag.TotalServices</b>  |
        <span>Confirmed: </span><b>@ViewBag.TotalSold</b>  |
        <span>Pending: </span><b>@ViewBag.TotalPending</b>  |
        <span>Refunded: </span><b>@ViewBag.TotalRefunded</b>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12" id="divLoadPlans"></div>
</div>
<br />

