
@{
    ViewBag.Title = "Category";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{


<script src="~/Areas/Admin/JS/Category/category.js"></script>

}

<h2>Add An Category</h2>
<table class="table table-responsive table-hover">
    <tr>
        <td>Category Code</td>
        <td><input type="text" class="form-control" id="catecode" placeholder="Categroy Code" /></td>
    </tr>
    <tr>
        <td>Category Name</td>
        <td><input type="text" class="form-control" id="catename" placeholder="Categroy Name" /></td>
    </tr>
    <tr>
        <td>Active</td>
        <td>Yes<input type="radio" value="yes" name="active" />No<input type="radio" value="no" name="active" /></td>
    </tr>
    <tr>
        <td>  Featured Image</td>
        <td>
          
            <input type="file" accept="image/*" class="clear" onchange="showMyImage(this)" id="ImgUpload"/>
        </td>


    </tr>
    <tr>
        <td>
            Preview Image
        </td>
        <td >
            <img id="thumbnil" class="img-thumbnail clear form-control" style="width:220px; height:220px; margin-top:10px;" src="" alt="Dimesnsions (220 X 220) pixels" />
<pre style="width:220px;">220 X 220 Pixels</pre>
        </td>
    </tr>
 
    <tr>
        <td colspan="2">
            <input type="button" class="btn btn-success pull-right" onclick="insertCate()" value="Make Category" id="insertbtn" />
        </td>
    </tr>
</table>
<input type="hidden" id="Imghiden" value="@Url.Action("Upload","Users")" />