@model BurialPlots.DAL.Category
@{
    ViewBag.Title = "LoadCategories";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
<script src="~/Areas/Admin/JS/Category/category.js"></script>
   
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js">
</script>
    <script>
        $(document).ready(function () {
            $("#li-Cemetery").addClass("start active open");
            $("#li-Dashboard").removeClass("start active");
            $("#lis-viewCategory").addClass("start active");
            $("#lis-addCategory").removeClass("start active");
        })
    </script>
    }
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">

<h2>Categories</h2>
<div id="modaldata">

    <div id="category" style="display:none">
        <table class="table table-responsive table-hover">
            <tr>
                <td>Category Code</td>
                <td><input type="text" class="form-control" id="catecode" placeholder="Categroy Code" /></td>
            </tr>
            <tr>
                <td>Category Name</td>
                <td><input type="text" class="form-control" id="catename" placeholder="Categroy Name" /></td>
            </tr>
            <tr>
                <td>Active</td>
                <td>Yes<input type="radio" value="yes" name="active" />No<input type="radio" value="no" name="active" /></td>
            </tr>
            <tr>
                <td>  Featured Image</td>
                <td>

                    <input type="file" accept="image/*" onchange="showMyImage(this)" id="ImgUpload" />
                </td>


            </tr>
            <tr>
                <td>
                    Preview Image
                </td>
                <td>
                    <img id="thumbnil" class="img-thumbnail clear form-control" style="width:220px; height:220px; margin-top:10px;" src="" alt="Dimesnsions (220 X 220) pixels" />
<pre style="width:220px;">220 X 220 Pixels</pre>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="hidden"id="catid" />
                    <input type="button" class="btn btn-success pull-right" onclick="updateCate()" value="Make Category" id="insertbtn" />
                </td>
            </tr>
        </table>

    </div>
</div>
<input type="hidden" id="hidediturl"value="@Url.Action("EditCat","Categories")" />


    <div id="LoadCat"></div>
    <input type="hidden" id="LoadCatPartial" value="@Url.Action("LoadCategry","Categories")" />
<input type="hidden" id="Imghiden" value="@Url.Action("Upload","Page")" />
<input type="hidden"id="hideimgname" />