
@{
    ViewBag.Title = "AddMember";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>Burial Plots</title>
    @*<link href="~/style.css" rel="stylesheet" type="text/css" media="all" />*@
   

    <script src="~/js/megamenu.js"></script>
    <script src="~/js/jquery.js"></script>

    @*<link rel="stylesheet" href="style.css" type="text/css" media="all">*@
    @*<script type="text/javascript" src="js/jquery.js"></script>*@
    <script src="~/js/jquery.js"></script>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">

    <!-- fixed header -->
    <script>
        jQuery(window).scroll(function () {
            if (jQuery(this).scrollTop() > 1) {
                jQuery('.header-menu').addClass("sticky");
            }
            else {
                jQuery('.header-menu').removeClass("sticky");
            }

        });
    </script>
    <!-- Owl Carousel Assets -->
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />

    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />




</head>
<body >
    <div class="site-info" style="padding-top:200px; padding-bottom:100px; background-color:white ">
        <div class="row">
            <div class="col-md-5">

            </div>
            <div class="col-md-6">
                <strong style="font-size:40px; text-align:center;">Registration</strong>
            </div>
        </div>

        @*<div class="section overlay-purple">*@
<div class="container">
                @*<h2 class="underline text-left-align">Member Registration</h2>*@
                <div class="contact-info">
                    @*<div class="contact-details">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum. </p>
                            <p>
                                Address here <br />
                                Telephone number here <br />
                                Email address here
                            </p>
                        </div>*@

                    <div class="row">
                        <div class="col-md-6">

                            <label style="font-size:20px; ">First Name</label>
                            <input type="text" id="fname"style="border-color:#8090ab;background-color:white;color:black;" />

                        </div>
                        <div class="col-md-6">

                            <label style="font-size:20px;border-color:#8090ab;background-color:white;">Last Name</label>
                            <input type="text" id="lname" style="border-color:#8090ab;background-color:white;color:black;"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label style="font-size:20px;border-color:#8090ab;">Email</label>
                            <input type="email" id="email" style="border-color:#8090ab;background-color:white;color:black;"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label style="font-size:20px;border-color:#8090ab;">Password</label>
                            <input type="password" id="pass" style="border-color:#8090ab;background-color:white;color:black;"/>
                        </div>
                        <div class="col-md-6">
                            <label style="font-size:20px;border-color:#8090ab;">Confirm Password</label>
                            <input type="password" id="pass1" style="border-color:#8090ab;background-color:white;color:black;"/>

                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-md-7">
                                <img id="captcha" src="library/vender/securimage/securimage_show.php" alt="CAPTCHA Image" />
                                <a href="#" onclick="document.getElementById('captcha').src = 'library/vender/securimage/securimage_show.php?' + Math.random(); return false" class="btn btn-info btn-sm">Show a Different Image</a><br />
                                <div class="form-group" style="margin-top: 10px;">
                                    <input type="text" class="form-control" name="captcha_code" id="captcha_code" placeholder="For security, please enter the code displayed in the box." />
                                    <span class="help-block" style="display: none;">Please enter the code displayed within the image.</span>
                                </div>
                            </div>
                        </div>*@
                    <div class="row" style="padding-top:50px;">
                        <div class="col-md-12"></div>
                        <input type="button" value="Submit" onclick="Save()" />
                    </div>

                </div>
            </div>    
        </div>
    @*</div>*@
</body>
</html>
<script>
    $(document).ready(function(){
        $("#none").css('display', 'none')
        $("#hidnone").css('display','none')
    });
    var Save = function () {

        var firstname = $("#fname").val();
        var lastname = $("#lname").val();
        var email = $("#email").val();
        var pass = $("#pass").val();
        var pass1 = $("#pass1").val();
        //var dob = $("#dob").val();
        $.ajax({
            url: "/Plots/AddMember",
            type: "post",
            data: { FirstName: firstname, LastName: lastname, Email: email, Password: pass },
            success: function (res) {
                alert("successfully added data");

                if (res == "True") {

                    $("#fname").val("");
                    $("#lname").val("");
                    $("#email").val("");
                    $("#pass").val("");
                    $("#pass1").val("");

                }
            }

        })
    }
</script>