
@{
    ViewBag.Title = "AfterFuneral";
    Layout = "~/Views/Shared/_Header.cshtml";
}



<!DOCTYPE html>
<html class="js" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>Burial Plots</title>
    @*<link href="~/style.css" rel="stylesheet" type="text/css" media="all" />*@

    <script src="~/js/jquery.js"></script>

    @*<link rel="stylesheet" href="style.css" type="text/css" media="all">
    <script type="text/javascript" src="js/jquery.js"></script>*@


    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">

    <!-- fixed header -->
    <script>
jQuery(window).scroll(function() {
    if (jQuery(this).scrollTop() > 1){
        jQuery('.header-menu').addClass("sticky");
    }
    else{
        jQuery('.header-menu').removeClass("sticky");
    }

});
    </script>
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />

    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

</head>

<body id="top" class="home">
    <div class="banner" style="background-image: url('/images/banner-where-to-start.jpg');">
        <div class="caption-inner">
            <div class="container">
                <h2>After Funeral</h2>
            </div>
        </div>

    </div><!-- banner -->
  
            <div id="content" class="site-content">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main" role="main">
                        <div class="section text-center-align">
                            <div class="container">
                                <h2 class="underline">Burial Plots After Funeral</h2>
                                <div class="padding-left">
                                    <p>For many people, the period immediately following the funeral represents one of the hardest stages of the grieving process. Arranging the funeral, as complex as it might be, can provide a focus which is lacking in the immediate aftermath. At the same time, the loss of your loved one is still recent and the feelings fairly raw, whilst the help and support provided by other people may not be as forthcoming. </p>
                                    <p>Here at Burialplots.co.uk we work to make the bereavement process as simple as possible. We do that by offering easy and affordable access to burial plots at a time when the supply of plots is falling far behind the demand. We also bring together all the help and advice you might need following the loss of someone close to you, from dealing with the psychological impact to offering access to the practical help and services needed. Whilst the funeral itself marks one particular phase of the grieving process, the period immediately following marks the beginning of the rest of your life without the presence of the deceased. Elsewhere on the site you’ll find advice on how to cope with grief in the longer term, and the details of organisations which can help with this. Immediately following the funeral, however, there are a number of practical steps which you may have to take. </p>
                                </div>
                                <br />
                                <h2 class="underline">Tell Us Once</h2>
                                <div class="padding-left">
                                    <p>Although you will have informed friends and family at the time loss itself, there are other organisations and bodies which will need to be notified in the longer term. Some of this may have been dealt with when the death was registered. In some areas the Tell Us Once service is available. If it is then the registrar will provide a unique reference number which can be used online or when you phone the Tell Us Once helpline. You will need to provide the following information to Tell Us Once:</p>
                                    <ul>
                                        <li>The date of birth of the deceased</li>
                                        <li>Their National Insurance Number</li>
                                        <li>Their driving licence number (if applicable)</li>
                                        <li>Their passport number (if applicable) </li>
                                        <li>Details of any benefits they were receiving, such as a State Pension</li>
                                        <li>Details of council services they accessed, such as the Blue Badge scheme</li>
                                        <li>The name and address of the next of kin</li>
                                        <li>The name and address of any spouse or civil partner, if different from the next of kin</li>
                                        <li>If a person or company, such as a law firm, is administering the estate of the deceased, which includes anything such as property, valuables and money, then you will need to provide their name, address and contact details </li>
                                        <li>The details of any armed forces or public sector pension schemes they were a party to. </li>
                                    </ul>
                                    <p>Please note that you’ll need the permission of the next of kin, any person dealing with their estate (generally referred to as the ‘executor’ or ‘administrator’) and anyone who was in joint receipt of entitlements or benefits, before you give their details to Tell Us Once. </p>
                                    <p>Once you’ve given the relevant details to Tell Us Once, they will inform the following organisations:</p>
                                    <ul>
                                        <li>HM Revenue and Customs (HMRC)</li>
                                        <li>Department for Work and pensions (DWP)</li>
                                        <li>The Passport Office</li>
                                        <li>The Driver and Vehicle Licensing Agency (DVLA)</li>
                                        <li>The local council </li>
                                        <li>Any public sector or armed forces pension schemes</li>
                                    </ul>
                                    <p>At the time of writing, the following local authorities don’t offer the Tell Us Once service, meaning that you will have to contact the relevant bodies yourself:</p>
                                    <ul>
                                        <li>Brighton and Hove</li>
                                        <li>Croydon</li>
                                        <li>East Sussex</li>
                                        <li>Eastbourne</li>
                                        <li>Hammersmith and Fulham</li>
                                        <li>Harrow</li>
                                        <li>Hastings</li>
                                        <li>Highland</li>
                                        <li>Lewes</li>
                                        <li>Liverpool</li>
                                        <li>Manchester</li>
                                        <li>Medway</li>
                                        <li>Portsmouth</li>
                                        <li>Rother</li>
                                        <li>Salford</li>
                                        <li>Wealden</li>
                                    </ul>
                                </div>
                                <br />
                                <h2 class="underline">Other Organisations</h2>
                                <div class="padding-left">
                                    <p>Whether you use Tell Us Once or not, you will also need to inform any banks or building societies which the deceased used so that accounts can be closed down or modified. You will also have to notify the following bodies or organisations:</p>
                                    <ul>
                                        <li>Any employer of the deceased</li>
                                        <li>The Social Services, specifically to cancel any services which were being provided</li>
                                        <li>Medical organisations such as a hospital, doctors or dentists in order to cancel any appointments and return equipment where applicable</li>
                                        <li>Legal representatives such as solicitors</li>
                                        <li>Any bodies providing voluntary services, such as meals on wheels or Care and Repair</li>
                                    </ul>
                                    <p>The precise details will differ from person to person, but you may also need to get in touch with a private landlord, a mortgage provider, insurance companies, utility companies (i.e. water, gas and electric) a telephone company (mobile or landline), TV Licensing, companies from which the deceased rented household appliances such as digital TV boxes, internet providers, credit card or other loan companies. You may also need to cancel the membership of organisations such as libraries, social clubs, unions and professional organisations. If any children in the family were close to the deceased then it may be a good idea to inform their school, allowing teachers to deal with any reactions in a sensitive and informed manner. </p>
                                </div>
                                <br />
                                <h2 class="underline">Your Own Circumstances</h2>
                                <div class="padding-left">
                                    <p>The death of someone close to you may lead to a change in your personal circumstances. If this is the case, you may be eligible for certain benefits or entitlements. Your local Social Security or DWP office should be able to advise if this is the case, as will the Citizens Advice Bureau. </p>
                                    <p>The number of practical issues which emerge following the death of someone close to you can feel almost overwhelming. The good news is that help is available, and if you don’t find the information you’re looking for on this site then please contact us, via email at (Email) or by calling 0100 000 0000. </p>
                                </div>
                                <ul class="burial-blocks">
                                    <li style="background-image: url('/images/burial-block-pic1.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Burial Plots</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic2.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Helpful Advice</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic3.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Legal</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- section -->

                        <div class="section text-center-align">
                            <div class="container">
                                <h2 class="underline">Latest News</h2>
                                <div class="blog-block">
                                    <h2>Article number one</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic1.jpg" alt="">
                                    <p>Maecenas imperdiet nisi lorem, sed fermentum tortor pretium eget. Sed mollis lacus quis nunc cursus cursus. Quisque et magna sit amet sapien fermentum scelerisque eu id massa. Mauris ornare massa vel mauris tempus, vitae tempus urna tincidunt. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                                <div class="blog-block">
                                    <h2>Article number two</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic2.jpg" alt="">
                                    <p>Praesent non mauris nec orci scelerisque faucibus. Nulla ac varius est. Aenean auctor nisl elit, nec sollicitudin lectus iaculis sed. Maecenas aliquam ligula vitae pharetra scelerisque. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                            </div>
                        </div><!-- enquiry-block -->

                    </main>
                    <!-- .site-main -->
                </div>
                <!-- .content-area -->
            </div>
            <!-- .site-content -->
    <div id="mask"></div>
    <script src="~/js/owl.carousel.js"></script>
    
    <script>
jQuery(document).ready(function($) {
  $('.owl-carousel.latest-news').owlCarousel({
    loop: true,
    margin: 10,
    dots: true,
    items: 1,
  })
})
    </script>
    <script type="text/javascript">
  jQuery(document).ready(function($){
  $('#menu-nav').hover(function(){
     $(this).toggleClass('highlighted');
  });

  $('#menu-nav').hover(
       function(){ $('#mask').addClass('active') },
       function(){ $('#mask').removeClass('active') }
)
  });
    </script>
   
    <script src="~/js/megamenu.js"></script>

</body>
</html>