
@{
    ViewBag.Title = "Arranging";
    Layout = "~/Views/Shared/_Header.cshtml";
}



<!DOCTYPE html>
<html class="js" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>Burial Plots</title>

    @*<link href="~/style.css" rel="stylesheet" type="text/css" media="all" />*@

    <script src="~/js/jquery.js"></script>


    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">

    <!-- fixed header -->
    <script>
jQuery(window).scroll(function() {
    if (jQuery(this).scrollTop() > 1){
        jQuery('.header-menu').addClass("sticky");
    }
    else{
        jQuery('.header-menu').removeClass("sticky");
    }

});
    </script>
    <!-- Owl Carousel Assets -->
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />

    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

</head>

<body id="top" class="home">
    <div class="banner" style="background-image: url('/images/banner-where-to-start.jpg');">
        <div class="caption-inner">
            <div class="container">
                <h2>Arranging</h2>
            </div>
        </div>

    </div><!-- banner -->
            <!-- .site-header -->
            <div id="content" class="site-content">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main" role="main">
                        <div class="section text-center-align">
                            <div class="container">
                                <h2 class="underline">Burial Plots Arranging</h2>
                                <div class="padding-left">
                                    <p>Here at Burialplots.co.uk our main aim is to make arranging a funeral simpler than it’s ever been. To that end we’ve made it easier to find your perfect burial plot. The precise location of a final resting place is of huge importance to anyone who wishes to be buried, but the truth of the matter is that the supply of burial plots in the UK is at historically low levels. This has two effects – it drives up prices and it makes finding your preferred location incredibly difficult. We’ve created an online solution that gathers plots from around the UK in one place. We’ve made searching for the perfect plot incredibly simple and we offer a choice of payment options, from advanced payment to setting up a payment plan. Whether you’re need is urgent or you’re planning for the future, we’ll give you peace of mind. </p>
                                    <p>As well as providing burial plots we make the task of arranging a funeral much simpler in general terms. Across the site you’ll find advice, help and links dealing with every aspect of bereavement, from the psychological impact of losing a loved one to the practical matter of registering a death. While most people place arranging a funeral in the experienced hands of a funeral director, it’s still vital to have a clear idea of just what the funeral in question is going to involve. Although thinking about it may seem difficult at the time, the funeral is your chance to say goodbye and celebrate the life of the deceased. As time goes by the fact that you gave them the farewell they deserved will come to be a source of great comfort.</p>
                                </div>
                                <br />
                                <h2 class="underline">The Arrangements</h2>
                                <div class="padding-left">
                                    <p>Every funeral will be different, representing the person who has died and the feelings of those left behind. That’s why, even when working with a funeral director, it’s helpful to have an idea in your head of what the various components of the average funeral are. Practical matters such as choosing a casket and memorial, or arranging the purchase of flowers, are dealt with elsewhere on Burialplots.co.uk. Pulling together the details of the funeral service is a deeply personal matter, and a few of the factors to bear in mind are the following:</p>
                                    <ul>
                                        <li><strong>The venue for the funeral</strong> – it’s generally assumed that funeral services take place in a church or some other religious building. It can take place in any suitable venue or even a private home, however, which may be more apt for someone without strong religious beliefs.</li>
                                        <li><strong>The service</strong> – once again, the assumption is that the service will be led by a religious figure such as a minister or priest. It could, however, be led by a humanist, the funeral director you’ve hired or even by someone close to the deceased.</li>
                                        <li><strong>Content</strong> – the words actually spoken are very important. If, as is often the case, the person leading the service didn’t know the deceased, make sure you provide them with the details needed to personalise the service. You can also have other people reading out things such as poems, prayers or anything else which you think helps to reflect the personality and life of the deceased.</li>
                                        <li><strong>Music</strong> – hymns are traditionally the music featured at funerals, but in recent years it has become increasingly popular to include other types of music. This is generally played via CD’s or downloads of favourite songs, but live music is also an option.</li>
                                        <li><strong>Order of Service</strong> – a printed order of service will serve two purposes. It will make it easier for those attending the funeral to follow the proceedings, and it will give everyone a memento to keep, reminding them of the person they are saying goodbye to. The order of service could also be sent to those friends and family members who are unable to attend on the day. </li>
                                    </ul>
                                    <p>You’ll also need to consider arrangements around the funeral itself. Transport to and from the funeral will usually consist of a hearse and cars arranged by the funeral director. Like any other aspect, however, this can be personalised. Some people prefer a horse drawn carriage, whilst others might opt for a mode of transport linked to the deceased, up to and including vans, truck and motorbikes. </p>
                                    <p>Arranging a funeral means thinking about the life of the person you’ve just lost and how you’d like to mark it. It’s often a therapeutic process, marking the first step towards healing the pain of bereavement. If you’d like to discuss the process then please contact us by email at (Email) or call us on 0100 000 000. </p>
                                </div>

                                <ul class="burial-blocks">
                                    <li style="background-image: url('/images/burial-block-pic1.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Burial Plots</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic2.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Helpful Advice</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic3.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Legal</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- section -->

                        <div class="section text-center-align">
                            <div class="container">
                                <h2 class="underline">Latest News</h2>
                                <div class="blog-block">
                                    <h2>Article number one</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic1.jpg" alt="">
                                    <p>Maecenas imperdiet nisi lorem, sed fermentum tortor pretium eget. Sed mollis lacus quis nunc cursus cursus. Quisque et magna sit amet sapien fermentum scelerisque eu id massa. Mauris ornare massa vel mauris tempus, vitae tempus urna tincidunt. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                                <div class="blog-block">
                                    <h2>Article number two</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic2.jpg" alt="">
                                    <p>Praesent non mauris nec orci scelerisque faucibus. Nulla ac varius est. Aenean auctor nisl elit, nec sollicitudin lectus iaculis sed. Maecenas aliquam ligula vitae pharetra scelerisque. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                            </div>
                        </div><!-- enquiry-block -->

                    </main>
                    <!-- .site-main -->
                </div>
                <!-- .content-area -->
            </div>
            <!-- .site-content -->
    
    <!-- .site -->
    <div id="mask"></div>
    <script src="~/js/owl.carousel.js"></script>
    @*<script src="js/owl.carousel.js"></script>*@
    <script>
jQuery(document).ready(function($) {
  $('.owl-carousel.latest-news').owlCarousel({
    loop: true,
    margin: 10,
    dots: true,
    items: 1,
  })
})
    </script>
    <script type="text/javascript">
  jQuery(document).ready(function($){
  $('#menu-nav').hover(function(){
     $(this).toggleClass('highlighted');
  });

  $('#menu-nav').hover(
       function(){ $('#mask').addClass('active') },
       function(){ $('#mask').removeClass('active') }
)
  });
    </script>
   
    <script src="~/js/megamenu.js"></script>


</body>
</html>