
@{
    ViewBag.Title = "Bereavement";
    Layout = "~/Views/Shared/_Header.cshtml";
}



<!DOCTYPE html>
<html class="js" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>Burial Plots</title>

    @*<link href="~/style.css" rel="stylesheet" type="text/css" media="all" />*@

    <script src="~/js/jquery.js"></script>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">

    <!-- fixed header -->
    <script>
jQuery(window).scroll(function() {
    if (jQuery(this).scrollTop() > 1){
        jQuery('.header-menu').addClass("sticky");
    }
    else{
        jQuery('.header-menu').removeClass("sticky");
    }

});
    </script>
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />

    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />


</head>

<body id="top" class="home">
    <div class="banner" style="background-image: url('/images/banner-about.jpg');">
        <div class="caption-inner">
            <div class="container">
                <h2>Bereavement</h2>
            </div>
        </div>

    </div><!-- banner -->
            <!-- .site-header -->
            <div id="content" class="site-content">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main" role="main">
                        <div class="section text-center-align">
                            <div class="container">
                                <h2 class="underline">Burial Plots Bereavement</h2>
                                <div class="padding-left">
                                    <p>Coping with the death of a loved one is an inevitable part of life, but the knowledge that we’ll have to face bereavement one day doesn’t make coping with the reality any easier.  This is the case even if the death was expected, such as when someone has suffered a long illness. When death occurs suddenly and without warning then the shock merely adds to the sense of grief, and in all cases the feelings of loss are something which will impact upon those left behind for many years to come. </p>
                                    <p>Throughout Burialplots.co.uk you’ll find a wealth of practical advice dealing with what to do when someone close to you dies. The emotional impact of a death is often compounded by the sheer weight of practical issues which have to be dealt with, from registering the death to arranging a funeral and dealing with any outstanding financial or legal matters. Whilst our primary aim is to make finding and purchasing a burial plot much simpler than is currently the case, we’re also here to help with every other aspect of the process, and that begins with underlining the impact of bereavement.</p>
                                </div>
                                <br />
                                <h2 class="underline">Individual Responses</h2>
                                <div class="padding-left">
                                    <p>The first thing to understand about bereavement is that it will impact upon each individual in a different manner, and that there is no ‘right’ way of feeling when someone close to you dies. In the initial stages you may feel numb, as you struggle to process the scale of loss which is facing you. Many people are also surprised by the range of emotions which can sweep over them once the initial shock of losing someone begins to wear away. As well as grief, which might be expected, bereaved people often report feeling of anger, sometimes directed toward the person who has died for ‘leaving them’. This will then often be followed by guilt at feeling angry in this manner. Bereavement can also make those left behind feel anxious, apathetic and unable to eat or sleep properly.</p>
                                    <p>The precise make up of each individual response will depend upon a combination of the individual personality and the circumstances of the bereavement. The death of a younger person, in an accident for example, may well provoke more feelings of anger and unfairness than the passing of an ageing relative through natural causes. Similarly, a sudden and unexpected death of any kind is bound to leave those left behind regretting the fact that they didn’t have the chance to say goodbye or prepare themselves for loss. </p>
                                    <p>In all cases, the key to coping is to remember that there is no ‘right’ way of grieving, and that how you choose to respond is a natural reflection of how you’re feeling. Some people find it helps to immerse themselves in their ordinary daily routine, whilst others feel that the absence of the loved one who would normally have shared that routine makes even everyday tasks difficult to cope with, particularly for the first few times. </p>
                                </div>
                                <br />
                                <h2 class="underline">Seeking Help</h2>
                                <div class="padding-left">
                                    <p>Whilst sadness is natural, there is a chance that this could tip over into depression, particularly if you’ve had problems of this kind in the past. Don’t hesitate to seek the help of your GP if you’re worried that this is the case. Whilst you may feel duty bound to put on a ‘brave face’ around those closest to you – particularly if other family members are grieving with you – it can help to have someone you can share your feeling with honestly. This is where the many organisations which are set up to help bereaved people can be incredibly useful, being run by people who have been bereaved themselves or who have been trained to deal with bereavement. Talking to someone who understands something of what you’re going through can help you come to terms with the emotions you’re feeling, and we’ve provided a list of some of these organisations <a href="javascript:void();" target="_blank">here</a>.</p>
                                    <p>It’s difficult to offer comfort to those who’ve been bereaved without lapsing into cliché, but in this case the clichés happen to be true; in time the pain will begin to lessen and, although the sense of loss will never leave you, it will, eventually, be accompanied by the ability to look back with fondness and pleasure on the life you shared with the person you loved.</p>
                                    <p>If you have any questions about bereavement or the funeral process then we’re sure you can find the answers on Burialplots.co.uk. If you’d like more tailored and personal advice then please don’t hesitate to contact us (Email) or by calling 0100 000 000. </p>
                                </div>
                                <ul class="burial-blocks">
                                    <li style="background-image: url('/images/burial-block-pic1.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Burial Plots</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic2.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Helpful Advice</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic3.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Legal</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- section -->
                        <div class="section text-center-align purple-bg">
                            <div class="container">
                                <ul class="serivce-blocks">
                                    <li style="background-image: url('/images/service-block1.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Where to start</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block2.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Checklist</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block3.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Funerals</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block4.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Funeral Directors</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block5.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">After funeral</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block6.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Memorial</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block7.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Stonemasons</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block8.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Services</h4>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- section -->
                        <div class="section text-center-align">
                            <div class="container">
                                <div class="blog-block">
                                    <h2>Article number one</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic1.jpg" alt="">
                                    <p>Maecenas imperdiet nisi lorem, sed fermentum tortor pretium eget. Sed mollis lacus quis nunc cursus cursus. Quisque et magna sit amet sapien fermentum scelerisque eu id massa. Mauris ornare massa vel mauris tempus, vitae tempus urna tincidunt. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                                <div class="blog-block">
                                    <h2>Article number two</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic2.jpg" alt="">
                                    <p>Praesent non mauris nec orci scelerisque faucibus. Nulla ac varius est. Aenean auctor nisl elit, nec sollicitudin lectus iaculis sed. Maecenas aliquam ligula vitae pharetra scelerisque. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                            </div>
                        </div><!-- enquiry-block -->

                    </main>
                    <!-- .site-main -->
                </div>
                <!-- .content-area -->
            </div>
            <!-- .site-content -->
       
    <!-- .site -->
    <div id="mask"></div>
    <script src="~/js/owl.carousel.js"></script>
    @*<script src="js/owl.carousel.js"></script>*@
    <script>
jQuery(document).ready(function($) {
  $('.owl-carousel.latest-news').owlCarousel({
    loop: true,
    margin: 10,
    dots: true,
    items: 1,
  })
})
    </script>
    <script type="text/javascript">
  jQuery(document).ready(function($){
  $('#menu-nav').hover(function(){
     $(this).toggleClass('highlighted');
  });

  $('#menu-nav').hover(
       function(){ $('#mask').addClass('active') },
       function(){ $('#mask').removeClass('active') }
)
  });
    </script>
    @*<script src="js/megamenu.js"></script>*@
    <script src="~/js/megamenu.js"></script>


</body>
</html>