
@{
    ViewBag.Title = "Cars";
    Layout = "~/Views/Shared/_Header.cshtml";
}



<!DOCTYPE html>
<html class="js" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>Burial Plots</title>
    @*<link href="~/style.css" rel="stylesheet" type="text/css" media="all" />*@

    <script src="~/js/jquery.js"></script>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">

    <!-- fixed header -->
    <script>
jQuery(window).scroll(function() {
    if (jQuery(this).scrollTop() > 1){
        jQuery('.header-menu').addClass("sticky");
    }
    else{
        jQuery('.header-menu').removeClass("sticky");
    }

});
    </script>
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />

    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />


</head>

<body id="top" class="home">
    <div class="banner" style="background-image: url('/images/banner-about.jpg');">
        <div class="caption-inner">
            <div class="container">
                <h2>Cars</h2>
            </div>
        </div>

    </div><!-- banner -->
 
            <!-- .site-header -->
            <div id="content" class="site-content">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main" role="main">
                        <div class="section text-center-align">
                            <div class="container">
                                <h2 class="underline">Burial Plots Cars</h2>
                                <div class="column-block">
                                    <div class="column">
                                        <p>Arranging the details of a funeral can seem like too much to cope with when you’re trying to come to terms with the death of a loved one, but it’s something which simply has to be done. In the first instance there are legal obligations to do things such as register the death and deal with matters such as state benefits and pensions. A second consideration is the fact that planning a funeral can often feel like the very first stage of the process of coming to terms with your loss.  </p>
                                        <p>The host of bureaucratic necessities following a death can feel intrusive, but many people welcome the focus which having to perform simple if fairly mundane tasks can help to bring. The details of arranging a funeral, on the other hand, offer the chance to focus your thoughts upon the person you’ve just lost, and arrange a final goodbye which is fitting. </p>
                                    </div>
                                    <div class="column">
                                        <img src="~/images/video.jpg" alt="">
                                    </div>
                                </div>
                                <div class="padding-left">
                                    <p>The time and effort you put into arranging a funeral can often pay dividends in the long run, as you’re able to look back at an occasion which you can genuinely feel celebrated the life of the person you’ve lost at the same time as marking their passing.</p>
                                </div>
                                <br />
                                <h2 class="underline">Help</h2>
                                <div class="padding-left">
                                    <p>Here at Burialplots.co.uk we realise just how difficult bringing together all of the aspects of a funeral can be, so we’ve done precisely that. Although the primary purpose of our website is to make it easier to find and purchase a burial plot in the UK, we’ve also gathered a host of information and services. We’ve made it easy to access everything from advice on dealing with wills to the contact details of organisations which help with the emotional impact of bereavement. Planning a funeral carefully will help to keep costs down at the same time as ensuring a day which you’ll be able to remember with some happiness as well as grief. Given the cost of the average funeral there’s no need to feel embarrassed about making sure that nobody takes advantage of your vulnerable state by charging more than they should. The wealth of services available on our site will make it possible for you to find the best possible deal for aspects such as funeral cars</p>
                                </div>
                                <br />
                                <h2 class="underline">Cars</h2>
                                <div class="padding-left">
                                    <p>The number of cars you’ll need for your funeral will depend upon the number of guests and how many of those guests will need transporting to and from the venue for the service itself. Initially, you’ll need a hearse which can transport the coffin from the funeral home, or the home of the deceased, and limousines to transport what are generally known as the chief mourners. Taking a limousine in this manner will allow those closest to the deceased to travel in extreme comfort, without having to worry about driving or parking. Extra limousines can be hired if you want more of your guests to be driven to the funeral, and the drivers will be happy to take a specified route if you’d like to drive past a certain spot. You may want to stop at a beauty spot which the deceased loved, or pause outside the stadium of the football team they supported, for example. </p>
                                </div>
                                <br />
                                <h2 class="underline">Other Options</h2>
                                <div class="padding-left">
                                    <p>Occasionally, people ask if it is possible to have the coffin of a loved one transported on an alternative form of transport. This can be arranged in some cases, as when the family of a lorry driver might ask for the truck to be used for one last journey, or when a horse drawn carriage is chosen. As with all aspects of a funeral, the cars you select should be chosen to suit your needs and the funeral you’d like to experience. If you’re having any kind of difficulty doing that, then please contact us via email at (Email) or by phoning 0100 000 0000.</p>
                                </div>
                                <ul class="burial-blocks">
                                    <li style="background-image: url('/images/burial-block-pic1.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Burial Plots</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic2.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Helpful Advice</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic3.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Legal</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- section -->
                        <div class="section text-center-align purple-bg">
                            <div class="container">
                                <ul class="serivce-blocks">
                                    <li style="background-image: url('/images/service-block1.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Where to start</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block2.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Checklist</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block3.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Funerals</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block4.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Funeral Directors</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block5.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">After funeral</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block6.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Memorial</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block7.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Stonemasons</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block8.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Services</h4>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- section -->
                        <div class="section text-center-align">
                            <div class="container">
                                <div class="blog-block">
                                    <h2>Article number one</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic1.jpg" alt="">
                                    <p>Maecenas imperdiet nisi lorem, sed fermentum tortor pretium eget. Sed mollis lacus quis nunc cursus cursus. Quisque et magna sit amet sapien fermentum scelerisque eu id massa. Mauris ornare massa vel mauris tempus, vitae tempus urna tincidunt. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                                <div class="blog-block">
                                    <h2>Article number two</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic2.jpg" alt="">
                                    <p>Praesent non mauris nec orci scelerisque faucibus. Nulla ac varius est. Aenean auctor nisl elit, nec sollicitudin lectus iaculis sed. Maecenas aliquam ligula vitae pharetra scelerisque. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                            </div>
                        </div><!-- enquiry-block -->

                    </main>
                    <!-- .site-main -->
                </div>
                <!-- .content-area -->
            </div>
            <!-- .site-content -->
 
    <!-- .site -->
    <div id="mask"></div>
    <script src="~/js/owl.carousel.js"></script>
   
    <script>
jQuery(document).ready(function($) {
  $('.owl-carousel.latest-news').owlCarousel({
    loop: true,
    margin: 10,
    dots: true,
    items: 1,
  })
})
    </script>
    <script type="text/javascript">
  jQuery(document).ready(function($){
  $('#menu-nav').hover(function(){
     $(this).toggleClass('highlighted');
  });

  $('#menu-nav').hover(
       function(){ $('#mask').addClass('active') },
       function(){ $('#mask').removeClass('active') }
)
  });
    </script>

    <script src="~/js/megamenu.js"></script>

</body>
</html>