
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Header.cshtml";
}


<!DOCTYPE html>
<html class="js" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>Burial Plots</title>

    @*<link href="~/style.css" rel="stylesheet" type="text/css" media="all" />*@

    <script src="~/js/jquery.js"></script>


    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">

    <!-- fixed header -->
    <script>
jQuery(window).scroll(function() {
    if (jQuery(this).scrollTop() > 1){
        jQuery('.header-menu').addClass("sticky");
    }
    else{
        jQuery('.header-menu').removeClass("sticky");
    }

});
    </script>
    <!-- accordion -->
    <script src="~/js/jquery-ui.js"></script>
   
    <script>
  jQuery( function($) {
    $( "#accordion" ).accordion({
      collapsible: true
    });
  } );
    </script>

    <!-- menu -->
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
   
</head>

<body id="top" class="home">
    <div class="banner" style="background-image: url('/images/banner-1.jpg');">
        <div class="caption-inner">
            <div class="container">
                <h2>BURIAL SPACE IN THE UK COULD </h2>
                <h2>RUN OUT WITHIN THE NEXT 20 YEARS</h2>
            </div>
        </div>
    </div><!-- banner -->
            <!-- .site-header -->
            <div id="content" class="site-content">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main" role="main">
                        <div class="section">
                            <div class="container">
                                <div id="accordion">
                                    <h3>Burial Plots FAQs</h3>
                                    <div>
                                        <p>Here at Burialplots.co.uk we try our best to make the experience of bereavement as stress free as it possibly can be. A large part of that involves providing as much information as possible, all gathered in one place and easily accessed. Just in case we’ve missed anything out, here are a few of the questions people frequently ask when planning or attending a funeral, or dealing with the wider ramifications of the death of a loved one.</p>
                                    </div>
                                    <h3>Do I have to wear black to a funeral?</h3>
                                    <div>
                                        <p>It’s traditional to wear black and dress formally for a funeral, but this is nothing like as strict a rule as it once was. Whilst most of the men attending a funeral are still likely to be wearing a formal suit and tie, people now feel able to dress in a way which, perhaps, reflects the personality of the deceased. The most important thing is to find out what those closest to the deceased would prefer and dress accordingly. If you’re arranging a funeral and would like the standard dress ‘rules’ relaxing, then let your guests know.</p>
                                    </div>
                                    <h3>Who is allowed to travel with the funeral procession?</h3>
                                    <div>
                                        <p>This will be up to the person arranging the funeral. In most cases close family and friends will travel in the limousines arranged by the funeral director, with other mourners following in their own cars or meeting where the service will be held.</p>
                                    </div>
                                    <h3>Where does the funeral procession leave from?</h3>
                                    <div>
                                        <p>It is traditional for the funeral procession to leave from the home of the deceased, although it could leave from the home of a close relative. Alternatively, most mourners may opt to meet at the location of the service. </p>
                                    </div>
                                    <h3>Where do people sit during the service?</h3>
                                    <div>
                                        <p>Those who were closest to the deceased, the chief mourners, sit at the front of the venue for the service. </p>
                                    </div>
                                    <h3>What usually happens after the funeral?</h3>
                                    <div>
                                        <p>After the funeral is over, the mourners usually gather for refreshments. This may be at a nearby pub or hotel, or perhaps at the home of the deceased. If you find it difficult to locate a suitable venue then your funeral director may be able to help. </p>
                                    </div>
                                    <h3>Can mourners carry the coffin?</h3>
                                    <div>
                                        <p>Friends or family are welcome to carry the coffin into the venue for the service, often feeling privileged to do one last thing or the deceased. If the numbers are insufficient, a funeral director will offer help and support, as well as instructing the people carrying the coffin, known as pall bearers.</p>
                                    </div>
                                    <h3>Can the funeral procession travel past a favourite place?</h3>
                                    <div>
                                        <p>The person responsible for the cars will be happy to travel along a specified route and even stop at a place which was special to the deceased. This could be anything from an old home to a school, a sporting venue or even a pub.</p>
                                    </div>
                                    <h3>Can a mourner take part in the funeral service?</h3>
                                    <div>
                                        <p>Friends or family of the deceased are more than welcome to take part in the service. This might mean reading a poem, a prayer or some other piece of literature, up to and including writing and reading a eulogy.</p>
                                    </div>
                                    <h3>Can I put objects in the coffin?</h3>
                                    <div>
                                        <p>Yes, it is perfectly acceptable to put keepsakes such as jewellery, photographs, letters, medals or favourite possessions in the coffin as a gesture to the deceased. If the body is to be cremated, your funeral director will advise as to what objects will have to be removed. </p>
                                    </div>
                                    <h3>Should children go to the funeral?</h3>
                                    <div>
                                        <p>If you feel the children in question will be able to cope with emotion of the day, then allowing them to attend the funeral will probably help them to deal with the bereavement. It’s important to make sure they know what’s going to happen before the funeral, and to be ready to answers questions and offer comfort on the day itself.</p>
                                    </div>
                                    <h3>What happens if I visit the chapel of rest?</h3>
                                    <div>
                                        <p>The decision to see the deceased for one last time at a chapel of rest is a highly personal one. Many people find the peacefulness of the loved one comforting, whilst others may be upset to see how pale they are and how cold to the touch. Whatever your feelings, don’t allow yourself to be pressured into visiting or not visiting. This should be your decision and yours alone.</p>
                                    </div>
                                    <h3>What if the will can’t be found?</h3>
                                    <div>
                                        <p>Many wills often go missing after a death, particularly if the death was unexpected. That’s why it’ so important to store your will safely with a person such as a solicitor. If the will was professionally written, it is possible to search for it through the National Wills Register. If it can’t be found, the normal legal processes will be allowed to take their course.</p>
                                    </div>
                                    <h3>Do I need to publish an obituary notice?</h3>
                                    <div>
                                        <p>Publishing an obituary notice in a local or national newspaper is recommended. It will allow people you can’t contact personally to find out about the death and when and where the funeral will be held. If you’re unsure how to go about posting an obituary, your funeral director will be able to help. </p>
                                    </div>
                                </div>

                            </div>
                        </div><!-- section -->
                    </main>
                    <!-- .site-main -->
                </div>
                <!-- .content-area -->
            </div>
            <!-- .site-content -->
     
    <!-- .site -->
    <div id="mask"></div>
    <script src="~/js/owl.carousel.js"></script>
   
    <script>
jQuery(document).ready(function($) {
  $('.owl-carousel.latest-news').owlCarousel({
    loop: true,
    margin: 10,
    dots: true,
    items: 1,
  })
})
    </script>
    <script type="text/javascript">
  jQuery(document).ready(function($){
  $('#menu-nav').hover(function(){
     $(this).toggleClass('highlighted');
  });

  $('#menu-nav').hover(
       function(){ $('#mask').addClass('active') },
       function(){ $('#mask').removeClass('active') }
)
  });
    </script>
    
    <script src="~/js/megamenu.js"></script>
</body>
</html>
