
@{
    ViewBag.Title = "Florist";
    Layout = "~/Views/Shared/_Header.cshtml";
}



<!DOCTYPE html>
<html class="js" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>Burial Plots</title>

    @*<link href="~/style.css" rel="stylesheet" type="text/css" media="all" />*@

    <script src="~/js/jquery.js"></script>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">

    <!-- fixed header -->
    <script>
jQuery(window).scroll(function() {
    if (jQuery(this).scrollTop() > 1){
        jQuery('.header-menu').addClass("sticky");
    }
    else{
        jQuery('.header-menu').removeClass("sticky");
    }

});
    </script>
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />

    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

</head>

<body id="top" class="home">

    <div class="banner" style="background-image: url('/images/banner-about.jpg');">
        <div class="caption-inner">
            <div class="container">
                <h2>Florists</h2>
            </div>
        </div>

    </div><!-- banner -->
            <!-- .site-header -->
            <div id="content" class="site-content">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main" role="main">
                        <div class="section text-center-align">
                            <div class="container">
                                <h2 class="underline">Burial Plots Florists &pound;</h2>
                                <div class="column-block">
                                    <div class="column">
                                        <p>When someone close to you dies the emotional impact can be so devastating that coping with the myriad of practical issues thrown up can seem impossible. Even if death wasn’t sudden, the shock and finality can be overwhelming, but the fact of the matter is that there are details which those who have been left behind have to attend to.</p>
                                        <p>The positive aspect of this situation is two-fold. In the first instance, having practical matters to focus on can sometimes help when you’re dealing with the first impact of bereavement. The legal matters such as dealing with probate or simply registering a death can’t be avoided, whilst planning the funeral can, for some people, feel therapeutic. </p>
                                    </div>
                                    <div class="column">
                                        <img src="images/video.jpg" alt="">
                                    </div>
                                </div>
                                <div class="padding-left">
                                    <p>In the immediate aftermath of a loss it can be difficult to gather your thoughts and get a clear picture of how you’re coping. Pulling together the details of a funeral can provide the focus needed, as you try your best to arrange something which says goodbye in the way you want it to. </p>
                                </div>
                                <br />
                                <h2 class="underline">Planning</h2>
                                <div class="padding-left">
                                    <p>The second positive aspect of the situation is that a lot of help is available. In the first instance family and friends will probably rally round, but there are also agencies and bodies devoted to making bereavement easier to cope with. Burialplots.co.uk is one such port of call. As well as making it easier to find a burial plot in the UK, and providing plots at affordable prices, we bring together the wide range of information needed following bereavement in one easily accessible place. A part of this is providing links to services such as florists.</p>
                                </div>
                                <br />
                                <h2 class="underline">Choosing</h2>
                                <div class="padding-left">
                                    <p>Choosing the flowers for a funeral is just one more way of making a personal tribute as part of an event which is all about saying goodbye to someone you love. Whilst a bunch of flowers may seem like a simple thing, the truth of the matter is that a skilled florist can arrange and create a dazzling array of designs able to reflect the person you’re arranging the funeral for. Every arrangement, what’s more, will be utterly unique, dependent upon the flowers which are available at any given time of year, and of the size shape and colour of the individual flowers chosen. </p>
                                    <p><strong>Floral Sprays</strong> – a floral spray is an arrangement of flowers which can be laid flat upon the lid of the coffin. Sprays can range in size from under a metre to several feet long, and can be made up of whatever flowers you choose. The deceased may have had a favourite flower, or perhaps something as simple as a colour which they particularly liked. Popular choices include roses, lilies and carnations. Most sprays take the form of a simple flattened bouquet, but it is possible to order a spray in the shape of something like a cross. </p>
                                    <p><strong>Wreaths</strong> – wreaths and sympathy bouquets are smaller arrangements of flowers which can be carried by mourners and placed on or around the coffin. Posies and baskets are similar, and in all cases a selection of foliage and greenery can be used to create something which is genuinely and totally unique.</p>
                                    <p><strong>Tributes</strong> – whilst the floral arrangements described above are similar to those which you may see elsewhere there are certain designs which are particularly suited to funerals. These include small cushions made of flowers, hearts or individual letters which can be used to spell out a name.   A skilled florist will be able to conjure up virtually anything you’d like to see, from a word such as Mum or Dad to an item such as a star, a butterfly or a basketball. The key is to create something which is natural, beautiful and fits with your memories of the person you’re saying goodbye to. </p>
                                    <p>Flowers may seem like only a small part of the funeral, but they’re a chance to create something which is genuinely unique and which, when you look back on it, will help you to think more fondly of a traumatic and difficult time. If you’ve got any questions about finding a florist, or any other aspect of arranging a funeral, please contact us via email at (Email) or by calling 0100 000 0000. </p>
                                </div>

                                <ul class="burial-blocks">
                                    <li style="background-image: url('/images/burial-block-pic1.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Burial Plots</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic2.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Helpful Advice</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic3.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Legal</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- section -->
                        <div class="section text-center-align purple-bg">
                            <div class="container">
                                <ul class="serivce-blocks">
                                    <li style="background-image: url('/images/service-block1.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Where to start</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block2.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Checklist</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block3.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Funerals</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block4.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Funeral Directors</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block5.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">After funeral</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block6.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Memorial</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block7.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Stonemasons</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block8.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Services</h4>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- section -->

                        <div class="section text-center-align">
                            <div class="container">
                                <div class="blog-block">
                                    <h2>Article number one</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic1.jpg" alt="">
                                    <p>Maecenas imperdiet nisi lorem, sed fermentum tortor pretium eget. Sed mollis lacus quis nunc cursus cursus. Quisque et magna sit amet sapien fermentum scelerisque eu id massa. Mauris ornare massa vel mauris tempus, vitae tempus urna tincidunt. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                                <div class="blog-block">
                                    <h2>Article number two</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic2.jpg" alt="">
                                    <p>Praesent non mauris nec orci scelerisque faucibus. Nulla ac varius est. Aenean auctor nisl elit, nec sollicitudin lectus iaculis sed. Maecenas aliquam ligula vitae pharetra scelerisque. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                            </div>
                        </div><!-- enquiry-block -->

                    </main>
                    <!-- .site-main -->
                </div>
                <!-- .content-area -->
            </div>
            <!-- .site-content -->
    <!-- .site -->
    <div id="mask"></div>
    <script src="~/js/owl.carousel.js"></script>
    
    <script>
jQuery(document).ready(function($) {
  $('.owl-carousel.latest-news').owlCarousel({
    loop: true,
    margin: 10,
    dots: true,
    items: 1,
  })
})
    </script>
    <script type="text/javascript">
  jQuery(document).ready(function($){
  $('#menu-nav').hover(function(){
     $(this).toggleClass('highlighted');
  });

  $('#menu-nav').hover(
       function(){ $('#mask').addClass('active') },
       function(){ $('#mask').removeClass('active') }
)
  });
    </script>
    
    <script src="~/js/megamenu.js"></script>


</body>
</html>