
@{
    ViewBag.Title = "HealingProcess";
    Layout = "~/Views/Shared/_Header.cshtml";
}



<!DOCTYPE html>
<html class="js" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>Burial Plots</title>

    @*<link href="~/style.css" rel="stylesheet" type="text/css" media="all" />*@

    <script src="~/js/jquery.js"></script>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">

    <!-- fixed header -->
    <script>
jQuery(window).scroll(function() {
    if (jQuery(this).scrollTop() > 1){
        jQuery('.header-menu').addClass("sticky");
    }
    else{
        jQuery('.header-menu').removeClass("sticky");
    }

});
    </script>
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />

    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

</head>

<body id="top" class="home">
    <div class="banner" style="background-image: url('/images/banner-about.jpg');">
        <div class="caption-inner">
            <div class="container">
                <h2>Healing Process</h2>
            </div>
        </div>

    </div><!-- banner -->
            <!-- .site-header -->
            <div id="content" class="site-content">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main" role="main">
                        <div class="section text-center-align">
                            <div class="container">
                                <h2 class="underline">Burial Plots Healing Process</h2>
                                <div class="padding-left">
                                    <p>The first thing to say about the healing process which takes place when you lose someone close to you is that there is no such thing as a ‘right’ or ‘wrong’ way to feel. The death of someone you love is probably the most difficult, stressful and upsetting thing you’ll ever have to deal with. In the immediate aftermath it is likely that you’ll be swamped by a devastating range of emotions, running from shock and numbness to utter despair, and it can feel as if these feelings are simply overwhelming.</p>
                                    <p>The positive news is that the intensity of your grief will pass in time. As painful as it might be, death is a natural part of life and the acceptance of loss of something which is hard-wired into human psychology. ‘Getting over’ a loss sounds glib, of course, and doesn’t imply that there will ever come a time when you stop missing the person you’ve lost or forget about them. Someone you love is never going to leave your heart and mind completely, but what the healing process implies is that there will come a time when you can remember them with something other than pain and sadness. It may seem impossible in the immediate aftermath of a death, but you will eventually be able to look back on the life you shared with the deceased and experience joy and happiness at the memories, as well as pain at the loss. It won’t be an entirely smooth process, and there will be periods when you feel as if you are beginning to emerge from the worse of your grief only for something to set you back again, but a degree of coming to terms with your loss will take place. </p>
                                </div>
                                <br />
                                <h2 class="underline">Initial Stages</h2>
                                <div class="padding-left">
                                    <p>Although every case is different, just as every person is different, grief can be broken down into stages which you’ll pass through. The initial reaction is a sense of numbness and disbelief – no matter how much we may know, on an intellectual level, that everyone close to us is one day going to die, the shock of it actually happening is massive. The balance between numbness and sheer disbelief may be effected by how unexpected the death in question was. In all cases, you are likely to spend the period immediately after a death feeling as if you are in something of a daze.  You may find it hard to concentrate on everyday tasks and will often be overwhelmed by waves of sadness so intense that the only thing you feel able to do is sit down and cry.</p>
                                    <p>As well as the expected feelings of grief and pain, people who have lost a loved also often report feeling angry, sometimes with the person who has left them, sometimes with fate and life in general and sometimes with whatever they blame for the death. The sheer power of the emotions you’re feeling can also lead to physical symptoms. As well as exhaustion you may feel dizzy, short of breath or even hyperactive, as if stopping and staying still will allow the grief to overwhelm you. You may experience difficulty sleeping’ leading to a painful cycle in which you’re even more exhausted the next day.</p>
                                </div>
                                <br />
                                <h2 class="underline">Moving On</h2>
                                <div class="padding-left">
                                    <p>After accepting that the loss is real and experiencing the pain of grief, you’ll move through a phase of slowly coming to terms with your loss. It is during this period that it’s very important to talk about your feelings rather than trying to put a brave face on things. If you’re lucky you’ll have friends and family to talk to, but this isn’t always the case. There’s also a possibility that you’ll feel uncomfortable being completely honest with those close to you, as they’re probably also dealing with grief themselves.  This is when it can be extremely helpful to talk to one of the many organisations that have been set up especially to help people deal with bereavement. We’ve provided a list of some of these organisations <a href="helpful-Orgs.html">here</a>, and it’s likely that you’ll be able to find one which deals with your specific situation. </p>
                                    <p>With time, the initial extremes of pain will begin to subside, but there is no set period over which this should happen. Certain times of the year, such as Christmas, birthdays and wedding anniversaries, may feel particularly difficult to cope with. For some people, dealing with days such as these might involve taking a day off work and retreating to spend time with their thoughts, whilst others might opt to do something celebratory in nature, or perhaps try to act as if it’s just another day. The key is to do whatever you feel comfortable with. </p>
                                    <p>If you feel that you’re not moving on from the initial feelings of grief, or that you’re becoming overly reliant on props such as alcohol or medication, do not be afraid to speak to your GP or a counsellor. It’s possible for the natural sadness of grief to tip over into mental health problems, and if you or your family feel that your life is still being negatively impacted after you might have expected to begin moving on, you should seek some of the help available.  </p>
                                    <p>If you have any questions about the grieving process or about coming to terms with bereavement, then please contact us by email at (Email) or by calling 0100 000 0000.</p>
                                </div>
                                <ul class="burial-blocks">
                                    <li style="background-image: url('/images/burial-block-pic1.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Burial Plots</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic2.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Helpful Advice</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic3.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Legal</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- section -->
                        <div class="section text-center-align purple-bg">
                            <div class="container">
                                <ul class="serivce-blocks">
                                    <li style="background-image: url('/images/service-block1.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Where to start</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block2.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Checklist</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block3.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Funerals</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block4.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Funeral Directors</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block5.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">After funeral</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block6.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Memorial</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block7.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Stonemasons</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block8.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Services</h4>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- section -->
                        <div class="section text-center-align">
                            <div class="container">
                                <div class="blog-block">
                                    <h2>Article number one</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic1.jpg" alt="">
                                    <p>Maecenas imperdiet nisi lorem, sed fermentum tortor pretium eget. Sed mollis lacus quis nunc cursus cursus. Quisque et magna sit amet sapien fermentum scelerisque eu id massa. Mauris ornare massa vel mauris tempus, vitae tempus urna tincidunt. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                                <div class="blog-block">
                                    <h2>Article number two</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic2.jpg" alt="">
                                    <p>Praesent non mauris nec orci scelerisque faucibus. Nulla ac varius est. Aenean auctor nisl elit, nec sollicitudin lectus iaculis sed. Maecenas aliquam ligula vitae pharetra scelerisque. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                            </div>
                        </div><!-- enquiry-block -->

                    </main>
                    <!-- .site-main -->
                </div>
                <!-- .content-area -->
            </div>
            <!-- .site-content -->
     
    <!-- .site -->
    <div id="mask"></div>
    <script src="~/js/owl.carousel.js"></script>
    @*<script src="js/owl.carousel.js"></script>*@
    <script>
jQuery(document).ready(function($) {
  $('.owl-carousel.latest-news').owlCarousel({
    loop: true,
    margin: 10,
    dots: true,
    items: 1,
  })
})
    </script>
    <script type="text/javascript">
  jQuery(document).ready(function($){
  $('#menu-nav').hover(function(){
     $(this).toggleClass('highlighted');
  });

  $('#menu-nav').hover(
       function(){ $('#mask').addClass('active') },
       function(){ $('#mask').removeClass('active') }
)
  });
    </script>
    <script src="~/js/megamenu.js"></script>
   


</body>
</html>