
@{
    ViewBag.Title = "Legal";
    Layout = "~/Views/Shared/_Header.cshtml";
}



<!DOCTYPE html>
<html class="js" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>Burial Plots</title>

    @*<link href="~/style.css" rel="stylesheet" type="text/css" media="all" />*@

    <script src="~/js/jquery.js"></script>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">

    <!-- fixed header -->
    <script>
jQuery(window).scroll(function() {
    if (jQuery(this).scrollTop() > 1){
        jQuery('.header-menu').addClass("sticky");
    }
    else{
        jQuery('.header-menu').removeClass("sticky");
    }

});
    </script>
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />

    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />


</head>

<body id="top" class="home">
    <div class="banner" style="background-image: url('/images/banner-about.jpg');">
        <div class="caption-inner">
            <div class="container">
                <h2>Legal</h2>
            </div>
        </div>

    </div><!-- banner -->
            <!-- .site-header -->
            <div id="content" class="site-content">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main" role="main">
                        <div class="section text-center-align">
                            <div class="container">
                                <h2 class="underline">Burial Plots Legal</h2>
                                <div class="padding-left">
                                    <p>When someone close to you dies the impact is often felt twice over. Initially, of course, you’ll be dealing with the emotional response to losing a loved one. Even if the death comes at the end of a long illness the finality when it actually takes place can come as a shock. If the death was unexpected, of course, then this shock is compounded by the element of surprise. There’s no right or wrong way to feel when dealing with bereavement, and coming to terms with the loss, to whatever degree is possible, could take many years.</p>
                                    <p>The second impact comes in the form of the many practical issues which have to be dealt with. Here at Burialplots.co.uk we try to make dealing with these issues simpler than it’s ever been. By bringing the widest possible range of advice, services and help together on the one site, we aim to make funeral planning – whether immediate or in the future – less stressful than it so often is. A large part of our service involves making arrangements for the funeral itself, and in particular the provision of  available and affordable burial plots, but we’re equally committed to offering help and advice on the other issues surrounding a death, many of which are matters of a legal nature. </p>
                                </div>
                                <br />
                                <h2 class="underline">Registering a Death</h2>
                                <div class="padding-left">
                                    <p>The first legal obligation when a person dies is to register the death. We’ve provided details <a href="where-to-start.html">here</a> of how to go about doing this, and what documentation will be needed, and we also explain the Tell Us Once service <a href="after-funeral.html">here</a> The Tell Us Once service is available in certain parts of the country and makes it possible to contact many of the official bodies who need to be informed of a death with just a single notification. If you are unable to utilise the Tell Us Once service then the bodies which you’ll have to notify individually include the following: </p>
                                    <ul>
                                        <li>HM Revenue and Customs (HMRC)</li>
                                        <li>Department for Work and pensions (DWP)</li>
                                        <li>The Passport Office</li>
                                        <li>The Driver and Vehicle Licensing Agency (DVLA)</li>
                                        <li>The local council </li>
                                        <li>Any public sector or armed forces pension schemes</li>
                                    </ul>
                                </div>
                                <br />
                                <h2 class="underline">Managing the Estate</h2>
                                <div class="padding-left">
                                    <p>Other Legal Issues revolve around the estate of the person who dies, which means anything such as property, money or possessions which they might have left behind. If the deceased has left a will, then this will explain exactly what should happen to their estate in the event of their death. The will also names the ‘executors’, which is the term for whoever is responsible for dealing with the various issues of the estate. The legal right to deal with an estate is known as ‘probate’ and the executor named will have to apply to the local Probate Registry. If the deceased didn’t leave a will then the situation becomes slightly more complex, which is just one very good reason why writing a will is so important. If there is no will, then the next of kin can apply for a ‘grant of representation’, again at the Probate Registry. This will make them the administrator of the estate, and give them the right to access the bank accounts of the deceased as well as dealing with the rest of their estate. </p>
                                    <p>If someone does die without leaving a will, then the first £250,000 of their assets (including property) is currently automatically given to their spouse or civil partner, as well as all of their personal possessions of any value. The rest of the estate will be shared out, with 50% going to the spouse or civil partner and 50% being divided between any surviving children. </p>
                                    <p>Dealing with an estate, particularly one which includes complex matters such as multiple properties, stocks, shares and pension rights, is a difficult and complicated process and taking at least a small amount of legal advice is recommended. Although the specifics will vary hugely from case to case, the steps which have to be taken when dealing with the estate include the following:</p>
                                    <ul>
                                        <li>Bring together all of the assets of the estate, including the money raised by the sale of any property</li>
                                        <li>Pay any Inheritance Tax due on the estate – Inheritance Tax currently accounts for 40% of anything over £325,000. If the estate is left to a spouse, civil partner or charity, then Inheritance Tax does not apply. </li>
                                        <li>Pay any outstanding debts, such as utility bills</li>
                                        <li>Distribute what is left of the estate amongst the beneficiaries.</li>
                                    </ul>
                                    <p>Although our website contains a wealth of information on legal matters surrounding bereavement you may still have questions you’d like to ask. If this is the case, then please get in touch with us at (Email) or by calling 0100 000 0000.</p>
                                </div>
                                <ul class="burial-blocks">
                                    <li style="background-image: url('/images/burial-block-pic1.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Burial Plots</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic2.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Helpful Advice</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic3.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Legal</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- section -->
                        <div class="section text-center-align purple-bg">
                            <div class="container">
                                <ul class="serivce-blocks">
                                    <li style="background-image: url('/images/service-block1.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Where to start</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block2.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Checklist</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block3.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Funerals</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block4.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Funeral Directors</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block5.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">After funeral</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block6.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Memorial</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block7.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Stonemasons</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block8.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Services</h4>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- section -->
                        <div class="section text-center-align">
                            <div class="container">
                                <div class="blog-block">
                                    <h2>Article number one</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic1.jpg" alt="">
                                    <p>Maecenas imperdiet nisi lorem, sed fermentum tortor pretium eget. Sed mollis lacus quis nunc cursus cursus. Quisque et magna sit amet sapien fermentum scelerisque eu id massa. Mauris ornare massa vel mauris tempus, vitae tempus urna tincidunt. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                                <div class="blog-block">
                                    <h2>Article number two</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic2.jpg" alt="">
                                    <p>Praesent non mauris nec orci scelerisque faucibus. Nulla ac varius est. Aenean auctor nisl elit, nec sollicitudin lectus iaculis sed. Maecenas aliquam ligula vitae pharetra scelerisque. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                            </div>
                        </div><!-- enquiry-block -->

                    </main>
                    <!-- .site-main -->
                </div>
                <!-- .content-area -->
            </div>
            <!-- .site-content -->
   
    <!-- .site -->
    <div id="mask"></div>
    <script src="~/js/owl.carousel.js"></script>
   
    <script>
jQuery(document).ready(function($) {
  $('.owl-carousel.latest-news').owlCarousel({
    loop: true,
    margin: 10,
    dots: true,
    items: 1,
  })
})
    </script>
    <script type="text/javascript">
  jQuery(document).ready(function($){
  $('#menu-nav').hover(function(){
     $(this).toggleClass('highlighted');
  });

  $('#menu-nav').hover(
       function(){ $('#mask').addClass('active') },
       function(){ $('#mask').removeClass('active') }
)
  });
    </script>
    <script src="~/js/megamenu.js"></script>
    


</body>
</html>