
@{
    ViewBag.Title = "Stonemasons";
    Layout = "~/Views/Shared/_Header.cshtml";
}


<!DOCTYPE html>
<html class="js" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>Burial Plots</title>

    @*<link href="~/style.css" rel="stylesheet" type="text/css" media="all" />*@

    <script src="~/js/jquery.js"></script>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">

    <!-- fixed header -->
    <script>
jQuery(window).scroll(function() {
    if (jQuery(this).scrollTop() > 1){
        jQuery('.header-menu').addClass("sticky");
    }
    else{
        jQuery('.header-menu').removeClass("sticky");
    }

});
    </script>
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />

    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />



</head>

<body id="top" class="home">
    <div class="banner" style="background-image: url('/images/banner-about.jpg');">
        <div class="caption-inner">
            <div class="container">
                <h2>Stonemasons</h2>
            </div>
        </div>

    </div><!-- banner -->
            <div id="content" class="site-content">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main" role="main">
                        <div class="section text-center-align">
                            <div class="container">
                                <h2 class="underline">Burial Plots Stonemasons</h2>
                                <div class="column-block">
                                    <div class="column">
                                        <p>The role which a memorial plays in the grieving process can’t be overstated. Helping to create a permanent physical reminder of the person you’ve lost can provide a source of comfort during the difficult days following their death. Having to select the nature, design and wording of any memorial will allow you to concentrate on your feelings, providing a practical focal point for the huge range of emotions which are bound to be impacting upon you at this time.</p>
                                        <p>Here at Burialplots.co.uk we do everything we can to ease the process of bereavement as far as it is possible to do so. Whilst the grief, sadness and even anger that many people feel following a death can’t be avoided, the wealth of practical issues which have to be addressed can be simplified, and that’s exactly what we do. This begins with offering access to affordable burial plots across the UK – something which people are otherwise finding increasingly difficult to find – and also includes advice, help and links to the kind of services you’ll need following a death, or if you decide to pre-plan a funeral. </p>
                                    </div>
                                    <div class="column">
                                        <img src="~/images/video.jpg" alt="">
                                    </div>
                                </div>
                                <div class="padding-left">
                                    <p>Any death of a loved one is a traumatic and painful experience, but a sudden or violent death presents a unique set of challenges. When someone close to you dies at the end of a long illness the sense of sadness, grief and shock is completely genuine, but some consolation may be felt by the fact that, for example, you might have had a chance to say goodbye to the person in question. Those who have lost someone in this manner often speak of the comfort they draw from knowing that they were able to tell the deceased that they loved them, for example, and that the deceased was able to put there affairs in order and experience a degree of peace of mind before dying.</p>
                                    <p>In the event of a sudden or violent death, on the other hand, none of this applies. The initial feeling of numbness, shock and despair will be joined by a searing sense of anger and unfairness. Even if nobody was directly responsible for the death, you will naturally begin to look around, desperate for someone or something to blame. This is perfectly natural, as are feelings of guilt that you are still alive while your loved one has been taken.</p>
                                </div>
                                <br />
                                <h2 class="underline">Types of Memorial</h2>
                                <div class="padding-left">
                                    <p>The role of a stonemason is to turn your vision of the kind of memorial you’d like to create for your loved one into a reality. A stonemason will be able to advise, for example, exactly what kind of rules and regulations the cemetery in question applies to memorials. Different cemeteries will have different rules regarding the size, shape and wording of a memorial, as well as factors such as the colour and finish of any stone. Most cemetery memorials come in one of two designs:</p>
                                    <ul>
                                        <li><strong>Full memorials</strong> – also known as ‘Traditional Memorials’, these take the form of a headstone and a slab which runs along the full length of the grave</li>
                                        <li><strong>Lawn memorials</strong> – this is a headstone resting on a matching base at the head of the grave</li>
                                    </ul>
                                </div>
                                <br />
                                <h2 class="underline">Types of Material</h2>
                                <div class="padding-left">
                                    <p>The material chosen for your memorial will be governed, to a degree, by the regulations of the cemetery in question. The most common materials are granite, marble and stone. Each material has its own qualities; stone often blends seamlessly with the natural environment, white marble, usually imported from Italy, offers a gentler appearance whilst polished black granite offers perhaps the most traditional aesthetic. Your stonemason will talk you through the options available, advising, for example, on the range of colours and finishes on offer and pointing out possible problems such as a marble memorial being marked by leaves dropping from a nearby tree.</p>
                                </div>
                                <br />
                                <h2 class="underline">Engraving</h2>
                                <div class="padding-left">
                                    <p>Your stone mason will offer a selection of lettering styles and fonts to choose from, as well as options such as lead lettering for marble stones and gilded lettering which is particularly effective on polished black granite. Once you’ve made all of these choices, your memorial will be created and put in place, although there may be a delay while the ground around the grave settles.</p>
                                </div>
                                <br />
                                <h2 class="underline">Aftercare</h2>
                                <div class="padding-left">
                                    <p>Once in place, the memorial will have to be cleaned from time to time on order to maintain the best possible appearance. It’s also advisable to take out insurance on the stone on case of vandalism or accidental damage.</p>
                                    <p>Designed and put together with skill, care and dedication, a memorial created by a stonemason will provide a fitting tribute to the person you loved, and a comforting place to visit when you wish to think about them in years to come. For more information on the options available, and how to find the right stonemason, contact us at (Email) or by calling 0100 000 0000.</p>
                                </div>

                                <ul class="burial-blocks">
                                    <li style="background-image: url('/images/burial-block-pic1.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Burial Plots</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic2.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Helpful Advice</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic3.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Legal</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- section -->
                        <div class="section text-center-align purple-bg">
                            <div class="container">
                                <ul class="serivce-blocks">
                                    <li style="background-image: url('/images/service-block1.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Where to start</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block2.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Checklist</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block3.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Funerals</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block4.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Funeral Directors</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block5.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">After funeral</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block6.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Memorial</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block7.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Stonemasons</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block8.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Services</h4>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- section -->
                        <div class="section text-center-align">
                            <div class="container">
                                <div class="blog-block">
                                    <h2>Article number one</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic1.jpg" alt="">
                                    <p>Maecenas imperdiet nisi lorem, sed fermentum tortor pretium eget. Sed mollis lacus quis nunc cursus cursus. Quisque et magna sit amet sapien fermentum scelerisque eu id massa. Mauris ornare massa vel mauris tempus, vitae tempus urna tincidunt. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                                <div class="blog-block">
                                    <h2>Article number two</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic2.jpg" alt="">
                                    <p>Praesent non mauris nec orci scelerisque faucibus. Nulla ac varius est. Aenean auctor nisl elit, nec sollicitudin lectus iaculis sed. Maecenas aliquam ligula vitae pharetra scelerisque. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                            </div>
                        </div><!-- enquiry-block -->

                    </main>
                    <!-- .site-main -->
                </div>
                <!-- .content-area -->
            </div>
            <!-- .site-content -->
     
    <!-- .site -->
    <div id="mask"></div>
    <script src="~/js/owl.carousel.js"></script>
   
    <script>
jQuery(document).ready(function($) {
  $('.owl-carousel.latest-news').owlCarousel({
    loop: true,
    margin: 10,
    dots: true,
    items: 1,
  })
})
    </script>
    <script type="text/javascript">
  jQuery(document).ready(function($){
  $('#menu-nav').hover(function(){
     $(this).toggleClass('highlighted');
  });

  $('#menu-nav').hover(
       function(){ $('#mask').addClass('active') },
       function(){ $('#mask').removeClass('active') }
)
  });
    </script>
    
    <script src="~/js/megamenu.js"></script>

</body>
</html>
