
@{
    ViewBag.Title = "Suicide";
    Layout = "~/Views/Shared/_Header.cshtml";
}



<!DOCTYPE html>
<html class="js" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>Burial Plots</title>

    @*<link href="~/style.css" rel="stylesheet" type="text/css" media="all" />*@

    <script src="~/js/jquery.js"></script>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">

    <!-- fixed header -->
    <script>
jQuery(window).scroll(function() {
    if (jQuery(this).scrollTop() > 1){
        jQuery('.header-menu').addClass("sticky");
    }
    else{
        jQuery('.header-menu').removeClass("sticky");
    }

});
    </script>
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />

    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />



</head>

<body id="top" class="home">
    <div class="banner" style="background-image: url('/images/banner-about.jpg');">
        <div class="caption-inner">
            <div class="container">
                <h2>Suicide</h2>
            </div>
        </div>

    </div><!-- banner -->
            <!-- .site-header -->
            <div id="content" class="site-content">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main" role="main">
                        <div class="section text-center-align">
                            <div class="container">
                                <h2 class="underline">Burial Plots Suicide</h2>
                                <div class="padding-left">
                                    <p>The death of someone close to you through suicide is an almost uniquely painful form of bereavement. The normal feelings of loss and pain will be compounded by a sense of guilt that you couldn’t stop it happening, and anger toward the deceased themselves. </p>
                                </div>
                                <br />
                                <h2 class="underline">Causes</h2>
                                <div class="padding-left">
                                    <p>Pin-pointing the cause of a suicide can feel like an incredibly difficult thing to do. This is because, in the majority of cases, there isn’t anything as simple as a single cause. One of the hardest things for those left behind after a suicide to come to terms with is the degree of pain which their loved one must have been feeling in order to decide that death was the only possible answer. For most people, no problem is so severe that the only solution could be taking their own life. The person who took their life was clearly in a state of pain so acute that this seemed like a logical decision. Those left behind will often torment themselves with the thought that they could have done more, or didn’t spot the signs. The truth of the matter, however, is that a suicidal person will be in a state of mind which is beyond reasoning or persuasion. Although they may present a calm and reasonable face to the world, within themselves they will feel that they have failed in some massively fundamental manner. </p>
                                </div>
                                <br />
                                <h2 class="underline">Reaction</h2>
                                <div class="padding-left">
                                    <p>One of the most difficult aspects of dealing with a death by suicide is the reaction of other people. The fact that there will have to be an investigation, a coroner’s inquest and perhaps even some media coverage will mean that you are aware that everyone else knows what happened. Unfair as it may be, the idea of suicide is still seen as something of a taboo, and people may find it much more difficult to talk about than they would any other kind of death. Talking about the suicide, however, is one of the most useful things you can do when trying to come to terms with it. In truth, nobody will necessarily have answers to the questions you’re asking, but simply being able to voice them aloud can be hugely therapeutic. It can be comforting, as well, to hear that other people who were closed to the deceased failed to spot the signs of how much pain they were in or, conversely, that they feel the suicide was inevitable and could not have been stopped by anyone. If you don’t feel able to talk to people close to you about the suicide then take advantage of the many organisations which offer specialist counselling advice and listening services focused on this topic. The chance to explain how you’re feeling to someone who has been through the same thing, or has been trained to deal with the repercussions, often marks the first step on the long road to recovery.</p>
                                </div>
                                <br />
                                <h2 class="underline">Moving On</h2>
                                <div class="padding-left">
                                    <p>In many ways the only way to come to terms with the suicide of someone close to you is to accept that, on one level, you will never truly understand what made them do it. You may never quite get over the fact that they chose to leave you but, in time, you may come to realise that the choice was theirs to make, and that you couldn’t have stopped them no matter how hard you tried. Perhaps you’ll be able to draw some small amount of comfort from the fact that the pain they were clearly in has, at least, been ended for them. </p>
                                    <p>If you have any questions about the grieving process, or about coming to terms with a death by suicide, then please contact us by email at (Email) or by calling 0100 000 0000.</p>
                                </div>
                                <ul class="burial-blocks">
                                    <li style="background-image: url('/images/burial-block-pic1.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Burial Plots</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic2.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Helpful Advice</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic3.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Legal</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- section -->
                        <div class="section text-center-align purple-bg">
                            <div class="container">
                                <ul class="serivce-blocks">
                                    <li style="background-image: url('/images/service-block1.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Where to start</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block2.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Checklist</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block3.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Funerals</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block4.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Funeral Directors</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block5.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">After funeral</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block6.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Memorial</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block7.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Stonemasons</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block8.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Services</h4>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- section -->
                        <div class="section text-center-align">
                            <div class="container">
                                <div class="blog-block">
                                    <h2>Article number one</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic1.jpg" alt="">
                                    <p>Maecenas imperdiet nisi lorem, sed fermentum tortor pretium eget. Sed mollis lacus quis nunc cursus cursus. Quisque et magna sit amet sapien fermentum scelerisque eu id massa. Mauris ornare massa vel mauris tempus, vitae tempus urna tincidunt. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                                <div class="blog-block">
                                    <h2>Article number two</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic2.jpg" alt="">
                                    <p>Praesent non mauris nec orci scelerisque faucibus. Nulla ac varius est. Aenean auctor nisl elit, nec sollicitudin lectus iaculis sed. Maecenas aliquam ligula vitae pharetra scelerisque. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                            </div>
                        </div><!-- enquiry-block -->

                    </main>
                    <!-- .site-main -->
                </div>
                <!-- .content-area -->
            </div>
      
    <!-- .site -->
    <div id="mask"></div>
    <script src="~/js/owl.carousel.js"></script>
   
    <script>
jQuery(document).ready(function($) {
  $('.owl-carousel.latest-news').owlCarousel({
    loop: true,
    margin: 10,
    dots: true,
    items: 1,
  })
})
    </script>
    <script type="text/javascript">
  jQuery(document).ready(function($){
  $('#menu-nav').hover(function(){
     $(this).toggleClass('highlighted');
  });

  $('#menu-nav').hover(
       function(){ $('#mask').addClass('active') },
       function(){ $('#mask').removeClass('active') }
)
  });
    </script>
    <script src="~/js/megamenu.js"></script>
    

</body>
</html>