
@{
    ViewBag.Title = "WhereToStart";
    Layout = "~/Views/Shared/_Header.cshtml";
}


<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>Burial Plots</title>

    @*<link href="~/style.css" rel="stylesheet" type="text/css" media="all" />*@

    <script src="~/js/jquery.js"></script>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">

    <!-- fixed header -->
    <script>
        jQuery(window).scroll(function () {
            if (jQuery(this).scrollTop() > 1) {
                jQuery('.header-menu').addClass("sticky");
            }
            else {
                jQuery('.header-menu').removeClass("sticky");
            }

        });
    </script>
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />

    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

</head>
<body id="top" class="home">
    <div class="banner" style="background-image: url('/images/banner-where-to-start.jpg');">
        <div class="caption-inner">
            <div class="container">
                <h2>Where to Start</h2>
            </div>
        </div>

    </div><!-- banner -->
    @*<div id="page" class="site">
        <div class="site-inner">*@
            <!-- .site-header -->
            <div id="content" class="site-content">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main" role="main">
                        <div class="section text-center-align">
                            <div class="container">
                                <h2 class="underline">Burial Plots  Where to Start</h2>
                                <div class="padding-left">
                                    <p>When somebody close to you dies the first challenge is to deal with the grief, pain, anger and numbness that can feel all but overwhelming in the initial aftermath of bereavement. What shocks many people, however, are the number of issues which also have to be dealt with immediately following a death. For some, these bureaucratic and practical matters can feel all but overwhelming, whilst others find that having a focus of this kind actually helps them to get through the first few  days of bereavement. The number of agencies which have to be liaised with, and the documentation and red tape involved, can be minimised through a degree of pre-planning, particularly in terms of arranging a funeral, but every death brings with it a range of legal and administrative tasks. </p>
                                    <p>At Burialplots.co.uk we’ve pulled together the full range of information needed in the case of bereavement. From the moment that a person dies, through finding a burial plot and arranging a funeral, to coping with the aftermath of life moving forward, you’ll find all of the information and advice you need within this website.  This begins with the steps which need to be taken immediately following the death of a loved one.</p>
                                </div>
                                <br />
                                <h2 class="underline">Register the Death</h2>
                                <div class="padding-left">
                                    <p>In the majority of cases, the death has to be registered within five days. The best place to do so is at the local register office, as this means that you’ll receive the documents needed on the same day. The process should take no more than 30 minutes, and you may need to arrange an appointment beforehand. The death can be registered by:</p>
                                    <ul>
                                        <li>A relative of the deceased</li>
                                        <li>A person present at the death</li>
                                        <li>An administrator from the hospital (if the death occurred in hospital)</li>
                                        <li>The person who found the body (if death took place elsewhere)</li>
                                        <li>The person in charge of making arrangements with the funeral directors</li>
                                    </ul>
                                    <p>You’ll need to take the certificate showing the cause of death, signed by a doctor, and it would be useful, although not compulsory, to take any or all of the following documents:</p>
                                    <ul>
                                        <li>The birth certificate</li>
                                        <li>A council tax bill</li>
                                        <li>The driving licence</li>
                                        <li>A marriage or civil partnership certificate</li>
                                        <li>An NHS medical card</li>
                                        <li>A passport</li>
                                        <li>Proof of address such as a utility bill</li>
                                    </ul>
                                    <p>You will need to tell the registrar the full name of the deceased at the time when they died, as well as any maiden name. You will also need to provide details of their date and place of birth, last residential address and occupation, if applicable. The registrar will also need to know the name, date of birth and occupation of any spouse or civil partner, whether surviving or deceased, and you will have to provide details of any state pension or other benefits the deceased was receiving.</p>
                                    <p>When the process is complete, the registrar will provide you with a Certificate for Burial or Cremation, known as a ‘green form’ and a form BD8 which is the Certificate of Registration of Death. If the deceased was in receipt of a state pension of other benefits, the BD8 will have to be filled in and sent off in the pre-paid envelope provided. </p>
                                    <p>Copies of the Death Certificate can be purchased from the registrar for a small fee, and these will be needed when sorting out the affairs of the deceased.</p>
                                </div>
                                <br />
                                <h2 class="underline">If a Coroner is Involved </h2>
                                <div class="padding-left">
                                    <p>In some cases, such as when the cause of death remains unknown or was violent or unnatural, the doctor involved may report the death to the coroner. If this is the case, the process of registering the death may take longer. In some cases the coroner may decide that the cause of death is obvious, in which case the doctor can sign the death certificate as before and the coroner will issue a separate certificate stating that a post mortem isn’t needed. If a post mortem examination is required this will cause a delay in issuing the death certificate, particularly if the post mortem is inconclusive and the coroner decides to hold an inquest. In cases such as this, you can be issued with an interim death certificate which can be used to prove that the person has died when dealing with various organisations.</p>
                                    <p>Once the death has been registered, it is possible to begin the process of arranging a funeral. For advice on this or any other post bereavement issues, please contact us via email at (Email) or by calling 0100 000 000. </p>
                                </div>
                                <ul class="burial-blocks">
                                    <li style="background-image: url('/images/burial-block-pic1.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Burial Plots</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic2.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Helpful Advice</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic3.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Legal</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- section -->

                        <div class="section text-center-align">
                            <div class="container">
                                <h2 class="underline">Latest News</h2>
                                <div class="blog-block">
                                    <h2>Article number one</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic1.jpg" alt="">
                                    <p>Maecenas imperdiet nisi lorem, sed fermentum tortor pretium eget. Sed mollis lacus quis nunc cursus cursus. Quisque et magna sit amet sapien fermentum scelerisque eu id massa. Mauris ornare massa vel mauris tempus, vitae tempus urna tincidunt. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                                <div class="blog-block">
                                    <h2>Article number two</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic2.jpg" alt="">
                                    <p>Praesent non mauris nec orci scelerisque faucibus. Nulla ac varius est. Aenean auctor nisl elit, nec sollicitudin lectus iaculis sed. Maecenas aliquam ligula vitae pharetra scelerisque. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                            </div>
                        </div><!-- enquiry-block -->

                    </main>
                    <!-- .site-main -->
                </div>
                <!-- .content-area -->
            </div>
            <!-- .site-content -->
            <!-- .site-footer -->
       
    <!-- .site -->
    <div id="mask"></div>
    <script src="~/js/owl.carousel.js"></script>
 
    <script>
        jQuery(document).ready(function ($) {
            $('.owl-carousel.latest-news').owlCarousel({
                loop: true,
                margin: 10,
                dots: true,
                items: 1,
            })
        })
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#menu-nav').hover(function () {
                $(this).toggleClass('highlighted');
            });

            $('#menu-nav').hover(
                 function () { $('#mask').addClass('active') },
                 function () { $('#mask').removeClass('active') }
          )
        });
    </script>
   
    <script src="~/js/megamenu.js"></script>


</body>
</html>