
@{
    ViewBag.Title = "WillWriting";
}

<h2>WillWriting</h2>

<!DOCTYPE html>
<html class="js" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>Burial Plots</title>

    <link href="~/style.css" rel="stylesheet" type="text/css" media="all" />

    <script src="~/js/jquery.js"></script>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">

    <!-- fixed header -->
    <script>
jQuery(window).scroll(function() {
    if (jQuery(this).scrollTop() > 1){
        jQuery('.header-menu').addClass("sticky");
    }
    else{
        jQuery('.header-menu').removeClass("sticky");
    }

});
    </script>
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />

    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />


</head>

<body id="top" class="home">
    <div id="page" class="site">
        <div class="site-inner">
            <header id="masthead" class="site-header" role="banner">
                <div class="site-header-main">
                    <div class="header-menu">
                        <div class="container">
                            <div class="site-branding">
                                <a href="#"><img src="~/images/logo.png" alt="Burial Plots"></a>
                            </div>

                            <div id="site-header-menu" class="menu-container site-header-menu">
                                <div class="menu">
                                    <ul id="menu-nav" class="primary-menu">
                                        <li>
                                            <a href="javascript:void(0)">BURIAL PLOTS</a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">Locations</a>
                                                    <ul>
                                                        <li><a href="javascript:void(0)">Burial Plots</a></li>
                                                        <li><a href="javascript:void(0)">Burial Plots</a></li>
                                                        <li><a href="javascript:void(0)">Burial Plots</a></li>
                                                        <li><a href="javascript:void(0)">Burial Plots</a></li>
                                                    </ul>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">BEREAVEMENT</a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">Where to Start</a>
                                                    <ul>
                                                        <li><a href="javascript:void(0)">After Funerals</a></li>
                                                        <li><a href="javascript:void(0)">Memorials</a></li>
                                                        <li><a href="javascript:void(0)">Stonemasons</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">Funerals</a>
                                                    <ul>
                                                        <li><a href="javascript:void(0)">Arranging</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">Funerals Directors</a>
                                                    <ul>
                                                        <li><a href="javascript:void(0)">Services</a></li>
                                                        <li><a href="javascript:void(0)">Coffins</a></li>
                                                        <li><a href="javascript:void(0)">Florists</a></li>
                                                        <li><a href="javascript:void(0)">Cars</a></li>
                                                        <li><a href="javascript:void(0)">Funeral Plans</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">HELPFUL ADVICE</a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">Today</a>
                                                    <ul>
                                                        <li><a href="javascript:void(0)">Lidership</a></li>
                                                        <li><a href="javascript:void(0)">History</a></li>
                                                        <li><a href="javascript:void(0)">Locations</a></li>
                                                        <li><a href="javascript:void(0)">Careers</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">Calendar</a>
                                                    <ul>
                                                        <li><a href="javascript:void(0)">Undergraduate</a></li>
                                                        <li><a href="javascript:void(0)">Masters</a></li>
                                                        <li><a href="javascript:void(0)">International</a></li>
                                                        <li><a href="javascript:void(0)">Online</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">Sport</a>
                                                    <ul>
                                                        <li><a href="javascript:void(0)">Undergraduate research</a></li>
                                                        <li><a href="javascript:void(0)">Masters research</a></li>
                                                        <li><a href="javascript:void(0)">Funding</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">Something</a>
                                                    <ul>
                                                        <li><a href="javascript:void(0)">Sub something</a></li>
                                                        <li><a href="javascript:void(0)">Sub something</a></li>
                                                        <li><a href="javascript:void(0)">Sub something</a></li>
                                                        <li><a href="javascript:void(0)">Sub something</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">LEGAL</a>
                                            <ul>
                                                <li>
                                                    <a href="#">School</a>
                                                    <ul>
                                                        <li><a href="#">Lidership</a></li>
                                                        <li><a href="#">History</a></li>
                                                        <li><a href="#">Locations</a></li>
                                                        <li><a href="#">Careers</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">PRESS & NEWS</a>
                                                    <ul>
                                                        <li><a href="#">Undergraduate</a></li>
                                                        <li><a href="#">Masters</a></li>
                                                        <li><a href="#">International</a></li>
                                                        <li><a href="#">Online</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Study</a>
                                                    <ul>
                                                        <li><a href="#">Undergraduate</a></li>
                                                        <li><a href="#">Masters</a></li>
                                                        <li><a href="#">International</a></li>
                                                        <li><a href="#">Online</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Empty sub</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">PRESS & NEWS</a></li>
                                        <li><a href="javascript:void(0)">CONTACT</a></li>
                                    </ul>
                                </div>
                            </div> <!-- .main-navigation-->
                        </div><!-- container -->
                    </div><!-- header-menu -->
                    <div class="banner" style="background-image: url('/images/banner-about.jpg');">
                        <div class="caption-inner">
                            <div class="container">
                                <h2>Will Writing</h2>
                            </div>
                        </div>

                    </div><!-- banner -->
                    <!-- .site-header-menu -->
                </div>
                <!-- .site-header-main -->
            </header>
            <!-- .site-header -->
            <div id="content" class="site-content">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main" role="main">
                        <div class="section text-center-align">
                            <div class="container">
                                <h2 class="underline">Burial Plots Will Writing</h2>
                                <div class="column-block">
                                    <div class="column">
                                        <p>Writing a will is something which saves a great deal of time and trouble following your death. Your loved ones will know exactly how you wanted your estate to be divided, thereby stopping any possible arguments, and you may even choose add a few details covering what you’d like your funeral to include. You can never minimise the emotional impact of bereavement, but a will can help to reduce the financial, logistical and practical problems which often arise. </p>
                                        <p>This is only the case, of course, if the will in question is written in the correct manner. Elsewhere in this site we’ve outlined exactly what a will has to <a href="wills.html">contain</a>, but any mistakes will only lead to more stress and expense for the people left behind. You may save money on the fees a solicitor or specialist firm would charge, but you won’t enjoy the peace of mind derived from knowing that your will was put together by someone with specialist knowledge in the fields of will writing and probate. </p>


                                    </div>
                                    <div class="column">
                                        <img src="~/images/video.jpg" alt="">
                                    </div>
                                </div>
                                <div class="padding-left">
                                    <p>The use of specialist help when writing a will is particularly advised if:</p>
                                    <ul>
                                        <li>Your estate is going to be liable to Inheritance Tax</li>
                                        <li>You have a complex family structure such as one which involves children from a previous partnership, or a dependent who will need extra help due to illness or disability</li>
                                        <li>You have overseas assets, such as a holiday home</li>
                                        <li>You own a business which will make up part of your estate</li>
                                    </ul>
                                </div>

                                <h2 class="underline">Using a Solicitor</h2>
                                <div class="padding-left">
                                    <p>If you use a solicitor to draw up your will, the fee they charge will depend upon the complexity of your estate, but will generally fall somewhere between £100-£200. Shop around for the best deal and make sure that any quote you’re given includes VAT. You should think about what you want to include in the will and who you wish to leave the various assets to before you meet with your solicitor, as this will save time and money. They will explain your options and offer confidential advice, before setting down your wishes in the correct manner. Using a solicitor will mean that mistakes are less likely to be made and that you can seek redress with the solicitors firm or the Legal Ombudsman if mistakes do occurr. It also means that you’ll receive expert advice on complicated aspects of estate management such as Inheritance Tax and trusts. You may also opt to appoint the solicitor who draws up your will to be its’ executor. </p>
                                </div>
                                <br />
                                <h2 class="underline">Using a will writing service</h2>
                                <div class="padding-left">
                                    <p>You should consider using a will writing service if your will is going to be fairly simple and you already understand some of the basics of writing a will, but not enough to feel fully confident writing your own. A will writing service may visit you at your own home, and some offer an online option. The main advantages of will writing services are that there are enough of them for you to be able to shop around, and you can therefore be certain to find the best possible price. The disadvantages are that a will writing service will not be able to store your will as safely as a solicitor, and the industry regulation doesn’t offer the same protection as that given to solicitors. Although will writers aren’t usually fully legally qualified, they will be trained in wills and estate planning, as long as the service is a member of one of the following organisations: </p>
                                    <ul>
                                        <li> The Society of Will Writers</li>
                                        <li> The Institute of Professional Will Writers</li>
                                    </ul>
                                    <p>Membership of these bodies means that their training is regularly updated and they are insured to cover legal costs in the event of your will being challenged. </p>
                                    <p>If you have any questions regarding writing wills, probate or any other legal issue pertaining to bereavement, please contact us at (Email) or by calling 0100 000 0000. </p>
                                </div>
                                <br />
                                <h2 class="underline">What you need to make a will</h2>
                                <div class="padding-left">
                                    <p>In order to write a will effectively you first need to value your estate. This means siting down and working out how much your total assets are worth, including items such as:</p>
                                    <ul>
                                        <li>Any properties you own</li>
                                        <li>Investments, such as stocks and shares</li>
                                        <li>Money saved in bank and building society accounts</li>
                                        <li>Insurance policies</li>
                                        <li>Motor vehicles</li>
                                        <li>Pension funds which pay out a lump sum at death</li>
                                        <li>Personal possessions, such as jewellery, antiques artworks etc</li>
                                    </ul>
                                    <p>It is important to get these assets valued regularly as the worth of some, such as stocks and property, could fluctuate. In certain parts of the UK your house may have risen dramatically in value over the years, for example, and this might affect the provisions of your will.</p>
                                </div>
                                <br />
                                <h2 class="underline">What you should include</h2>
                                <div class="padding-left">
                                    <p>You should set out exactly where you want the various parts of your estate to go. Many people, for example, bequest certain items to individual people whilst leaving the bulk of their estate to a spouse. Others might leave their main home and half of their estate to a spouse or civil partner, and share the rest between any children they have. Your will should also include details of what you would like to happen if any of the beneficiaries die before you do.</p>
                                </div>
                                <br />
                                <h2 class="underline">Validity</h2>
                                <div class="padding-left">
                                    <p>In order to be valid, a will must be in writing and it must be signed by you and two witnesses. You must have the mental capacity at the time of writing the will to understand what it means. If there is any doubt about this – if you’ve been given a diagnosis of dementia, for example – then you need to have what is called 'testamentary capacity', which may require a statement signed by a medical practitioner. The will should state that it takes the place of all other wills, and any previous wills should be destroyed. </p>
                                    <p>The two witnesses must be adults who sign the will in your presence. It should be noted that the witnesses and their spouses or civil partners will not be allowed to benefit from the will. The rest of the will is still valid if anything is left to a witness, but they will not be entitled to take what you intended them to have. The executor chosen for your estate is allowed to witness the will, but cannot be a beneficiary.</p>
                                    <p>Once the will has been completed minor changes can be made. These are called codicils, and must be added to the will and signed and witnessed as the original will was, although the two witnesses don’t have to be the same. No changes should be made by altering the actual will, only by adding codicils, and any major changes will require a new will being written.</p>
                                    <p>Your will should be stored in a safe place, perhaps with a solicitor or bank or with the Probate Service. If you have any questions about wills or the other legal processes surrounding bereavement then please contact us at (Email) or phone Burialplots.co.uk on 0100 000 0000.</p>
                                </div>
                                <ul class="burial-blocks">
                                    <li style="background-image: url('/images/burial-block-pic1.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Burial Plots</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic2.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Helpful Advice</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/burial-block-pic3.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Legal</h4>
                                                <h4 class="work-block-grid-description">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- section -->
                        <div class="section text-center-align purple-bg">
                            <div class="container">
                                <ul class="serivce-blocks">
                                    <li style="background-image: url('/images/service-block1.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Where to start</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block2.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Checklist</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block3.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Funerals</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block4.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Funeral Directors</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block5.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">After funeral</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block6.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Memorial</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block7.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Stonemasons</h4>
                                            </div>
                                        </a>
                                    </li>
                                    <li style="background-image: url('/images/service-block8.jpg');">
                                        <a href="javascript:void(0)">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Services</h4>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- section -->
                        <div class="section text-center-align">
                            <div class="container">
                                <div class="blog-block">
                                    <h2>Article number one</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic1.jpg" alt="">
                                    <p>Maecenas imperdiet nisi lorem, sed fermentum tortor pretium eget. Sed mollis lacus quis nunc cursus cursus. Quisque et magna sit amet sapien fermentum scelerisque eu id massa. Mauris ornare massa vel mauris tempus, vitae tempus urna tincidunt. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                                <div class="blog-block">
                                    <h2>Article number two</h2>
                                    <p class="date">30.11.1988</p>
                                    <img src="~/images/blog-pic2.jpg" alt="">
                                    <p>Praesent non mauris nec orci scelerisque faucibus. Nulla ac varius est. Aenean auctor nisl elit, nec sollicitudin lectus iaculis sed. Maecenas aliquam ligula vitae pharetra scelerisque. </p>
                                    <a href="javascript:void(0)" class="readmore-btn">read more</a>
                                </div>
                            </div>
                        </div><!-- enquiry-block -->

                    </main>
                    <!-- .site-main -->
                </div>
                <!-- .content-area -->
            </div>
            <!-- .site-content -->
            <footer id="colophon" class="site-footer" role="contentinfo">
                <div class="site-info">
                    <div class="section overlay-purple" style="background-image:url('/images/footer-form-bg.jpg');">
                        <div class="container">
                            <h2 class="underline text-left-align">We’d love to hear from you.</h2>
                            <div class="contact-info">
                                <div class="contact-details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum. </p>
                                    <p>
                                        Address here <br />
                                        Telephone number here <br />
                                        Email address here
                                    </p>
                                </div>
                                <form>
                                    <ul class="contact-form">
                                        <li>
                                            <label>Full Name</label>
                                            <input type="text" name="" placeholder="">
                                        </li>
                                        <li>
                                            <label>Email</label>
                                            <input type="email" name="" placeholder="">
                                        </li>
                                        <li class="wide">
                                            <label>Message</label>
                                            <textarea name=""></textarea>
                                        </li>
                                        <li class="wide">
                                            <input type="submit" value="Send">
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="section light-purple-bg">
                        <div class="container">
                            <div class="footer-menu">
                                <div class="footer-block">
                                    <a href="#"><img src="~/images/footer-logo.png" alt=""></a>
                                    <p>Keep up to date with BurialPlots.co.uk</p>
                                    <ul class="social-icons">
                                        <li><a href="#">Facebook</a></li>
                                        <li><a href="#">Yelp</a></li>
                                        <li><a href="#">Twitter</a></li>
                                        <li><a href="#">Youtube</a></li>
                                        <li><a href="#">Instagram</a></li>
                                        <li><a href="#">Vimeo</a></li>
                                    </ul>
                                </div><!-- footer-block -->
                                <div class="footer-block">
                                    <h3>Helpful Advice</h3>
                                    <ul>
                                        <li><a href="#">Healing Process</a></li>
                                        <li><a href="#">Parental Grief</a></li>
                                        <li><a href="#">Suicide</a></li>
                                        <li><a href="#">Helpful Orgs</a></li>
                                        <li><a href="#">Dealing with Children</a></li>
                                        <li><a href="#">Shock of Sudden Death</a></li>
                                        <li><a href="#">Writing Eulagles</a></li>
                                        <li><a href="#">FAQ</a></li>
                                    </ul>
                                </div><!-- footer-block -->
                                <div class="footer-block">
                                    <h3>Main Menu</h3>
                                    <ul>
                                        <li><a href="#">Burial Plots</a></li>
                                        <li><a href="#">Bereavement</a></li>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Helpful Advice</a></li>
                                        <li><a href="#">Legal</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div><!-- footer-block -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .site-info -->
            </footer>
            <!-- .site-footer -->
        </div>
        <!-- .site-inner -->
    </div>
    <!-- .site -->
    <div id="mask"></div>
    <script src="~/js/owl.carousel.js"></script>
  
    <script>
jQuery(document).ready(function($) {
  $('.owl-carousel.latest-news').owlCarousel({
    loop: true,
    margin: 10,
    dots: true,
    items: 1,
  })
})
    </script>
    <script type="text/javascript">
  jQuery(document).ready(function($){
  $('#menu-nav').hover(function(){
     $(this).toggleClass('highlighted');
  });

  $('#menu-nav').hover(
       function(){ $('#mask').addClass('active') },
       function(){ $('#mask').removeClass('active') }
)
  });
    </script>
   
    <script src="~/js/megamenu.js"></script>


</body>
</html>