
@{
    ViewBag.Title = "Cemetery Plots";
    Layout = "~/Views/Shared/_Header.cshtml";
}
@section Scripts{
<script src="~/js/Market/cemteryPlots.js"></script>
    }
<div class="site-info padding-by-header margin-top-20">
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 style="margin-top:40px;">@ViewBag.LocationName</h3>
            </div>
        </div>
        <div class="row margin-top-20">
            <div id="divLoadPlotCemetriesGrid"></div>
        </div>
    </div>
</div>
<input type="hidden" id="hidLocationId" value="@ViewBag.LocationId" />
