
@{
    ViewBag.Title = "Success!";
    Layout = "~/Views/Shared/_Header.cshtml";
}
@section Scripts{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/Checkout/ConfirmBillingOrder",
                type: "post",
                success: function (res) {
                    if (res == "True") {
                        $("#divProcessing").hide();
                        $("#divThank").slideDown();
                        $("#cartCount").text("0");
                    }
                    else {
                        $("#divProcessing").hide();
                        $("#divError").slideDown();
                    }
                }
            });
        });
    </script>
    }
<div class="site-info padding-by-header" style="margin-top:80px">
    <div class="row" id="divProcessing">
        <div class="col-md-12 text-center">
            <h4>Please wait... Your order is in processing</h4>
        </div>
    </div>
    <div class="row" id="divError" style="display:none; margin-top:30px;">
        <div class="col-md-12 text-center">
            <h4>Error: Please contact us!</h4>
        </div>
    </div>
    <div id="divThank" style="display:none; margin-top:30px;">
        <div class="row container" style="background-color:whitesmoke">
            <div style="padding:25px">
                <div class="row">
                    <div class="col-md-12 text-center" id="divShowApierror">
                        <h3>Thank you! Your order has been submitted.</h3>
                        <h3> We will contact you within 24 hours.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>