.customBorder{
    border:1px solid lightgray;
   height:280px;
   margin-bottom:10px;
}
.cusBold{
    font-weight:bold;
}
.col{
    color:cornflowerblue;
    font-size:16px;
}
.yelBorder{
    margin-left:10px;
    padding-left:0px;
    border:1px solid #FFCC33;
    height:120px;
}
.aboveMargin{
    padding-top:10px;
    margin-left:18px;
    font-family:Open Sans, Arial, Helvetica, Verdana, sans-serif;
    font-size:24px;
}
.reviewList li {
    list-style:none;
}
.customBorderRight{
     border:1px solid lightgray;
     width:300px;
     height:250px;
     margin-left:10px;
}
.margin{
    float:left;
    margin-top:2px;
}
.leftmar{
    margin-left:0px;
}
.serviceSize{
    margin-left:18px;
    font-family:Open Sans, Arial, Helvetica, Verdana, sans-serif;
    font-size:14px;
    color:#67b5e2;
    line-height:0px;
}
.barSize{
    font-size:16px;
}
.customSize{
    font-size:16px;
}